/** Bootstrap Style Changes **/
@import url(//fonts.googleapis.com/css?family=Assistant);
@import url(//fonts.googleapis.com/css?family=Poppins);
@import url(//cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css);
body {
}

header {
    top: 0;
    z-index: 100;
}

/* Sticky header on larger screen sizes -> This is the same size at which the navbar disappears! */
@media (min-width:577px) {
	header {
		position: sticky; 
	}
}

footer {
	color: white !important;
	-webkit-box-shadow: 0 -8px 6px -6px #999;
	-moz-box-shadow: 0 -8px 6px -6px #999;
	box-shadow: 0 -8px 6px -6px #999;
	position: relative;
	z-index: 96;
}

#homepage-banner{
	background-image:
		linear-gradient(165deg, rgba(247, 245, 206, .8) 50%, rgba(255, 255, 255, .3) 50%),
		url(/static/d.svg),
		url(/static/e.svg),
		url(/static/c.svg),
		url(/static/f.svg);
	background-position:
		bottom left,
		top 90% left 45%,
		top calc(90% - 5rem) left calc(45% + 5rem),
		top calc(90% - 5rem) left calc(45% - 5rem),
		top 90% left calc(45% - 15rem);
	background-repeat: no-repeat;
	background-size:
		100%,
		14rem,
		10rem,
		12rem,
		10rem;
}

#homepage-banner {
	min-height: 30rem;
}
#homepage-banner .list-group {
	border: 2px solid var(--bs-econblue);
}

#homepage-banner .list-group-item {
	background-color: var(--bs-white);
	color: black;
}

#homepage-banner .list-group-item:hover {
	background-color: var(--bs-econpale);
}
#homepage-banner .list-group-item span.btn {
	background-color: var(--bs-econgreen);
	color: white;
}
#homepage-banner .list-group-item span.btn:hover {
	background-color: var(--bs-econlgreen);
}

/* Forecast table */
#li-container {
	border: 1px solid var(--bs-econblue);
}
#li-container > li {
	font-size: .85rem;
	line-height: 1.0rem;
	padding: .5rem;
	text-align: center;
}
#li-container > li:hover {
	cursor: pointer;
}
#li-container > li.active {
	background-color: var(--bs-econblue);
}



/* Homepage links */
div.homepage-links > a {
	border: 2px solid var(--bs-econblue);
	border-radius: .5rem;
}
div.homepage-links > a:hover {
	background-color:  var(--bs-econdblue);
}

div.homepage-links > a > div:after{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

div.homepage-links > a > div {
	font-weight: bolder;
	padding-top: .1rem;
	padding-left:.05rem;
	padding-right: .05rem;
}
div.homepage-links > a > div:first-child:hover {
	background: var(econgreen)
}	

div.homepage-links > a > div > span {
	position: absolute;
	transform: translate(-50%, 0%);
}


/* Top Navbar */
nav.navbar {
	background-color: var(--bs-econgreen);
}

/* Top-level dropdown links */
nav.navbar li.nav-item > a.nav-link {
	color: rgba(255, 255, 255, .9);
	font-size: .95rem;
	border-radius: .25rem;
}

/* When dropdown is opened */
nav.navbar li.nav-item > a.nav-link.show {
	background-color: var(--bs-econorange);
	color: white;
}


/* Dropdown items */
nav.navbar ul.dropdown-menu, nav.navbar div.dropdown-menu {
	background-color: var(--bs-light);
	border-color: var(--bs-econorange);
	border-radius: .25rem;
	border-width: 1px;
	font-size: .9rem;
}

nav.navbar ul.dropdown-menu a:hover, nav.navbar div.dropdown-menu a:hover {
	background-color: var(--bs-econorange);
	color: white;
}

/* Dropdown items when active */
nav.navbar a.dropdown-item.activepage {
	background-color: var(--bs-econgreen);
	color: white;
}

/* Top-level nav link when dropdown subitem is active */
nav.navbar a.nav-link.activepage {
	background-color: var(--bs-econdgreen);
}




/** Sidebar **/
nav.sidebar {
	position: sticky;
	top: 3.4rem;
	height: calc(100vh - 4rem);
	z-index: 95;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	border-right: 1px solid #eee;
	/*background-color: rgb(241, 241, 241);*/
	max-width: 18rem;
}

nav.sidebar a {
  color: rgb(50, 50, 50);
  text-decoration: none;
}

/* Main Menu Links */
nav.sidebar a.nav-link {
	background-color: transparent;
	font-weight: 500;
	font-size: 0.95rem;
	padding-left: 1.8rem;
	margin-top: .6rem;
	color: rgb(94, 110, 130);

}
nav.sidebar a.nav-link:hover {
	cursor: pointer;
}


/* Submenu */
nav.sidebar div.sidebar-submenu > a {
	padding-left: 2.2rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	padding-right: 1.2rem;
	display: block;
	font-size: .85rem;
	color: rgb(94, 110, 130);
}

nav.sidebar div.sidebar-submenu > a.activepage {
  background-color: var(--bs-econgreen);
  color: white;
}

nav.sidebar div.sidebar-submenu > a:hover {
  background-color: var(--bs-econorange);
  color: white;
  cursor: pointer;
}



/* Datatable */

table.dataTable th {
	background-color: var(--bs-efblue);/*rgb(48, 79, 11);*/
	color: white;
	font-size: .90rem;
}

table.dataTable th:first-child {
	border-radius:.5rem 0 0 .5rem;
}

table.dataTable th:last-child {
	border-radius:0 .5rem .5rem 0;
}


table.dataTable.data-table td {
    padding: .25rem .5rem;
    font-size: 0.82rem;
	border: none;
}

table.dataTable.summary-table td {
    padding: .25rem .25rem;
    font-size: 0.92rem;
	border: none;
}

table.dataTable .dt-center {
	text-align: center;
}

table.dataTable .dt-left {
	text-align: left;
}

table.dataTable .dt-right {
	text-align: right;
}

table.dataTable thead {
	/*border-bottom: 1px solid black;*/
}

table.dataTable tbody {
	border-bottom: 2px solid black;
}

table.dataTable tr {
	border: none;
}

table.dataTable tr.odd  {
    background-color: rgba(200, 230, 245, .35);
}

table.dataTable tr:hover td {
	background-color: rgba(0, 0, 158) !important;
	color: white !important;
}

/** Loading Spinner **/
.overlay {
    background: #D3D3D3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 98;
}

#loadmessage {
  z-index: 99;
  color: black;
  font-weight:700;
  margin-top:50px;
}

.sk-circle {
  margin: 100px auto;
  width: 100px !important;
  height: 100px;
  position: relative;
  z-index: 99;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: black;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}




/** Highcharts **/


/*
.highcharts-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}

.highcharts-xaxis-labels, .highcharts-yaxis-labels {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}
*/


/** Multicol button hover **/
a.multicol {
	font-size: .9rem;
	padding: .3rem 1rem;
	/*background-color: rgba(245, 255, 255, 1);*/
}


a.multicol:hover {
	cursor: pointer;
	color: #262626;
	background-color: #999;
	color: 'white';
}

.cursor-pointer{
  cursor: pointer;
}


/* Dashboard */
.flex-between-center {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}