
/*** Boxes & Shadows ***/
.ef-bg-gradient-box {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.ef-shadow {
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(15, 23, 42, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

.ef-font-family-logo {
	font-family: var(--font-family-logo);
}

.font-logo {
	font-family: var(--font-family-logo);
	font-weight: 500;
}


.text-slate-100	{
	color: rgb(241 245 249);
}
	
.text-slate-200 {
	color: rgb(226 232 240);
}

.text-slate-300	{
	color: rgb(203 213 225);
}	

.text-slate-400 {
	color: rgb(148 163 184);
}

.text-slate-500	{
	color: rgb(100 116 139);
}	

.text-slate-600	{
	color: rgb(71 85 105);
}

.text-slate-700	{
	color: rgb(51 65 85);
}

.text-slate-800	{
	color: rgb(30 41 59);
}

.text-slate-900	{
	color: rgb(15 23 42);
}
