/***** ! Automatic build at #{$BuildTimeStamp} *****/

/***** Base Styling *****/
:root {
	--font-family-logo: "Quicksand", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.font-family-logo {
	font-family: var(--font-family-logo);
}

.font-family-serif {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

p {
	line-height: 1.25rem;
	margin-bottom: 1.2rem;
}

.transition {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.duration-100	{transition-duration: 100ms;}
.duration-200	{transition-duration: 200ms;}
.duration-300	{transition-duration: 300ms;}
.duration-400	{transition-duration: 400ms;}
.duration-500	{transition-duration: 500ms;}

/***** Extra styling sizes ****/
/* Note that fs-1 - fs-6 match bootstrap header sizes, fs-6 = 1.0rem */
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xs {
	font-size: 0.75rem; 
	line-height: 1rem;
}





/***** Homepage *****/
.bg-grid {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.bg-hp {
	background: linear-gradient(to bottom right, rgba(150, 200, 200, .5), rgba(200, 255, 100, .3));
}

/***** Card Header *****/
.card-header {
	@extend .bg-slate-500;
	@extend .font-family-serif;
	@extend .text-xs;
	@extend .fw-bold;
	@extend .text-slate-100;
	@extend .rounded-0;
	@extend .px-2;
	@extend .py-1;
	letter-spacing: .05rem
}

.card {
	border:none;
	box-shadow: 0 5px 5px 0 hsla(0, 0%, 0%, .15);
	@extend .rounded-1;
}

/***** Logo *****/
.logo {
    background: url('/static/brand/small.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
	height: 1.2em;
	width: 1.2em;
	margin-bottom: -.15em;
}

/***** Homepage Autocomplete *****/
.autoComplete_wrapper {

	display: inline-block;
	position: relative;
	width: 100%;

	input {
		height: 2.8rem;
		margin: 0 auto;
		// width: 35rem;
		max-width:100%;
		padding: 0 2rem 0 2.5rem;
		box-sizing: border-box;
		cursor: pointer;
		font-size: 1.1rem;
		font-weight: 500;
		text-overflow: ellipsis;
		color: var(--sky);
		outline: 0;
		border-radius: .5rem;
		border: 0.1rem solid rgba(158,219,246, .5);
		background-image: url(/static/img/search.svg);
		background-size: 1.0rem;
		background-position: left 1.0rem top .9rem;
		background-repeat: no-repeat;
		background-origin: border-box;
		background-color:#fff;
		transition:all .4s ease;	
	}

	input::placeholder {
		/*color: rgba(122, 122, 255, 0.5);*/
		color: var(--sky);
		transition:all .3s ease;
	}
	
	input:hover::placeholder {
		/*color: rgba(122, 122, 255, 0.6);*/
		color:rgb(12,148,209) ;
		transition:all .3s ease;
	}
	
	input:focus::placeholder {
		padding:.1rem .6rem;
		color:rgba(158,219,246, .8);
	
	}
	
	input:focus::selection {
		background-color:rgba(158,219,246, .5);
	}
	
	input::selection {
		background-color:rgba(158,219,246, .5);
	}
	
	input:hover {
		color: rgba(158,219,246, .8);
		transition:all .3s ease;
	}
	
	input:focus {
		color: var(--slate-500);
		border: rgba(158,219,246, .8);
	}
	
	ul {
		position:absolute;
		max-height:226px;
		overflow-y:scroll;
		box-sizing:border-box;
		left:0;
		right:0;
		margin:.5rem 0 0 0;
		padding:0;
		z-index:1;
		list-style:none;
		border-radius:.6rem;
		background-color:#fff;
		border:1px solid rgba(33,33,33,.07);
		box-shadow:0 3px 6px rgba(149,157,165,.15);outline:0;
		transition:opacity .15s ease-in-out;-moz-transition:opacity .15s ease-in-out;-webkit-transition:opacity .15s ease-in-out
	}
	
	ul:empty,.autoComplete_wrapper > ul[hidden]{
		display:block;
		opacity:0;
		transform:scale(0)
	}
	
	ul > li{
		margin:.3rem;padding:.3rem .5rem;text-align:left;font-size:1rem;color:#212121;border-radius:.35rem;
		background-color:#fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;transition:all .2s ease;
		font-family: var(--font-family-logo);font-weight: 500;
	}
	
	ul > li mark{
		background-color:transparent;
		color:var(--sky);
		font-weight:700;
		padding: 0 !important;
	}
	
	ul > li:hover{
		cursor:pointer;
		background-color:rgba(158,219,246, .15);
	}
	
	ul > li[aria-selected=true]{
		background-color:rgba(122,122,255,.15)
	}
	
}

/***** Homepage *****/
.blog-pagination {
	a.disabled {
		@extend .bg-slate-100;
		@extend .text-slate-400;
	}

	a:not(.disabled) {
		@extend .text-slate-800;
		border: 1px solid var(--slate-500);
		background-color: var(--white-warm);
	}
	a:not(.disabled):hover {
		background-color: rgb(245, 240, 225);
	}

}


/****** Forecast Data Table *****/
#li-container {

	li {
		@extend .text-sm;
		line-height: 1.0rem;
		padding: .5rem;
		border-left: 1px solid var(--slate-200);
		border-top: 0px;
		border-bottom: 0px;
		border-right: 0px;
		border-radius: 0px;
		margin-top: 0;
		cursor: pointer;
		transition: .3s;
	}

	li.active {
		border-left: 1px solid var(--amber);
		@extend .bg-white-warmer;
		@extend .text-forest;
	}

	li:hover {
		@extend .bg-white-warmer;
		border-left: 1px solid var(--amber);
	}

}

button.buttons-html5 {
	box-shadow: none !important;
	background-color: var(--sky);
	color: white;
	font-size: .85rem;
	padding: .2rem .4rem;
	border-radius: 0px !important;
}
button.buttons-html5:hover {
	background-color: var(--sky-dark);
	transition: .4s;
	color: white;
}


/****** Navbar *****/
/* ============ Desktop - open navbar on hover ============ */
// Match me to navbar-expand-lg limit (or break limit for navbar collapsing) - check .navbar-toggler @media element
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: none;
	}
	.navbar .nav-item:hover .dropdown-menu {
		display: block;
	}
	.navbar .nav-item .dropdown-menu {
		margin-top: -1px; 
	}
}	

/****** Navbar *****/
nav.navbar {
	
	/* Top-level dropdown links */
	li.nav-item > a.nav-link {
		padding: .5rem .8rem;
		font-size: 1.02rem;
	}

	/* Dropdown items */
	.dropdown-menu {
		background-color: rgba(255, 255, 255, .8);
		backdrop-filter: blur(5px);
		border-color: rgba(15, 23, 42, .05);
		border-radius: .25rem;
		border-width: 1px;
		font-size: .95rem;
		padding: .8rem .4rem;
	}

	.dropdown-menu a {
		font-weight: 500;
		color: var(--slate-800);
		background-color: transparent;
		transition: .2s;
		border-radius: 5px;
	}
	
	.dropdown-menu > div.d-md-flex > div {
		margin: 0 3px;
	}

	.dropdown-header {
		font-size: .9rem;
		border-bottom: 1px solid var(--slate-300);
		color: var(--slate-500);
	}


}

nav.navbar.navbar-home {
	
	/* Top-level dropdown links */
	li.nav-item > a.nav-link {
		color: var(--slate-900);
		font-weight: 600;
		margin-top: .5rem;
	}

	/* Dropdown items */
	.dropdown-menu a:hover {
		background-color: var(--sky);
		color: white;
	}
}

nav.navbar:not(.navbar-home) {

	background-color: var(--forest);

	/* Top-level nav link when dropdown subitem is active */
	li.nav-item > a.nav-link {
		color: var(--slate-100);
	}

	.dropdown-menu a:hover {
		background-color: var(--forest);
		color: white;
	}

	.dropdown-menu a.activepage {
		background-color: var(--forest-dark);
		color: white !important;
	}
	
	/** Make top-level element emphasized on hover **/
	li.nav-item:hover {
		a.nav-link {
			background-color: var(--forest-dark);
		}
	}

}

/****** Sidebar *****/
nav.sidebar {

	position: sticky;
	top: 0rem; /* top: 3.4rem */
	height: 100vh; /*calc(100vh - 4rem);*/
	z-index: 95;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	width: 16rem;
	a {
		color: var(--slate-600);
		text-decoration: none;
	}

	/* Main Menu Links */
	a.nav-link {
		background-color: transparent;
		font-weight: 500;
		font-size: 0.89rem;
		padding-left: 1.0rem;
		padding-top: .45rem;
		padding-bottom: .45rem;
		color: var(--slate-600);
	}

	a.nav-link:not(.collapsed) {
		font-weight: bolder;
	}

	a.nav-link:hover {
		cursor: pointer;
		color: var(--slate-900);
	}
	
	/* Submenu */	
	div.sidebar-submenu {
		@extend .bg-slate-100;
	}

	div.sidebar-submenu > a {
		margin-left: 1.5rem;
		padding-left: 0.25rem;
		padding-top: .25rem;
		padding-bottom: .25rem;
		padding-right: 2.0rem;
		display: block;
		font-size: .89rem;
		color: rgb(94, 110, 130);
		border-left: 1px solid var(--slate-400);
		transition: 1s;
	}

	div.sidebar-submenu > a.activepage {
		border-left: 1px solid var(--forest-dark);
		color: var(--forest-dark);
		font-weight: bolder;
	}
	  
	div.sidebar-submenu > a:hover {
		background-color: var(--slate-200);
		color: var(--sky);
		border-left: 1px solid var(--sky-dark);
		cursor: pointer;
		transition: .2s;
	}
}



/****** Chart Container *****/
div.chart-container {
	background-color: var(--slate-200);
}

.highcharts-button-box { // Animate button hover
	transition: fill .3s;
	color: var(--slate-100);
}

.forecast-chart-legend-item {
	margin-bottom: .5rem;
}

.forecast-chart-legend-item span {
	filter: brightness(1.00);
	line-height: .9rem;
}
.forecast-chart-legend-item:hover span {
	filter: brightness(0.50);
}


/****** DT Table *****/
table.dataTable {
	.dt-center {
		text-align: center;
	}
	.dt-left {
		text-align: left;
	}
	.dt-right {
		text-align: right;
	}
	thead {
		background-color: var(--slate-100);
		padding-top: .55rem;
		padding-bottom: .55rem;
	}
	thead > tr > th.sorting::after {
		color: var(--sky);
	}
	thead > tr > th.sorting::before {
		color: var(--sky);
	}
}


table.dataTable.data-table {

	th {
		background-color: transparent;
		color: var(--slate-600);
		font-size: .85rem;
		font-weight: bold;
	}

	td {
		padding: .3rem .5rem;
		font-size: 0.85rem;
		border: none;
	}

	tr.odd  {
		background-color: rgba(200, 230, 245, .35);
	}

	tr.odd:hover, tr.even:hover  {
		background-color: rgba(240, 235, 235, .8);
	}

	tr {
		border: none;
	}


}

li.paginate_button.page-item a.page-link {
	font-size: .80rem;
	border-radius: 0;
	background-color: transparent;
	@extend .text-slate-800;
	border: 0;
	padding: .3rem .7rem;
}

li.paginate_button.page-item {
	@extend .bg-active-slate-300;
	@extend .bg-hover-slate-300;
	@extend .bg-slate-100;
	@extend .transition;
	@extend .duration-300;
}

li.paginate_button.page-item a.page-link:focus {
	box-shadow: none !important;
}

/***** Forecast Play *****/
#treasury-curve-subtitle-group {
	
	button.treasury-curve-action-button {
		background-color: var(--sky);
		color: var(--slate-100);
		transition: all .5s;
		border: 0;

		&.active {
			background-color: var(--sky-darker);
		}

		&:hover {
			background-color: var(--sky-dark);
		}

		&:disabled {
			background-color: var(--slate-500);
		}
	
	}

}


/****** Loading Spinner *****/
.overlay {
    background: #D3D3D3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 98;
}

div.loadee-container {
	opacity: 0;
	transition: opacity 1s;
	background-color: transparent;
	z-index: 2;
	width: 100%;
	height: 100%;
}


div.loader-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
	z-index: 1;
}

div.loader-container > div {
	@extend .spinner-border;
	width: min(8%, 6rem);
	aspect-ratio: 1 / 1;
	height: unset;
	color: rgb(148, 163, 184);
	border-width: 0.25rem;
	animation: 2.4s linear infinite loader-spin;
}

@keyframes loader-spin {
	0% {
		rotate: 0deg;
		color: rgb(148, 163, 184);
	}
	25% {
		rotate: 180deg;
		color: var(--forest);
	}
	50% {
		rotate: 360deg;
		color: rgb(148, 163, 184);
	}
	75% {
		rotate: 540deg;
		color: var(--sky);
	}
	100% {
		rotate: 720deg;
		color: rgb(148, 163, 184);
	}
}

div.loader-container > span {
	font-family: var(--font-family-logo);
	font-weight: 500;
	color: rgb(148, 163, 184);
	margin-bottom: 1rem;
	font-size: 1.2rem;
	animation: 2.4s linear infinite loader-text;
}

@keyframes loader-text {
	0% {
		color: rgb(148, 163, 184);
	}
	25% {
		color: var(--forest);
	}
	50% {
		color: rgb(148, 163, 184);
	}
	75% {
		color: var(--sky);
	}
	100% {
		color: rgb(148, 163, 184);
	}
  }
  
