/***** ! Automatic build at #{$BuildTimeStamp} *****/

/***** Base Styling *****/
:root {
	--font-family-logo: "Quicksand", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.cursor-pointer {
  cursor: pointer;
}

/***** Logo *****/
.logo {
    background: url('/static/brand/small.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
	height: 1.2em;
	width: 1.2em;
	margin-bottom: -.15em;
}

/***** Homepage Autocomplete *****/
.autoComplete_wrapper {
	display: inline-block;
	position: relative;
	width: 100%;

	input {
		height: 2.8rem;
		margin: 0 auto;
		// width: 35rem;
		max-width:100%;
		padding: 0 2rem 0 2.5rem;
		box-sizing: border-box;
		cursor: pointer;
		font-size: 1.1rem;
		font-weight: 500;
		text-overflow: ellipsis;
		color: var(--sky);
		outline: 0;
		border-radius: .5rem;
		border: 0.1rem solid rgba(158,219,246, .5);
		background-image: url(/static/search.svg);
		background-size: 1.0rem;
		background-position: left 1.0rem top .9rem;
		background-repeat: no-repeat;
		background-origin: border-box;
		background-color:#fff;
		transition:all .4s ease;	
	}

	input::placeholder{
		/*color: rgba(122, 122, 255, 0.5);*/
		color: var(--sky);
		transition:all .3s ease;
	}
	
	input:hover::placeholder{
		/*color: rgba(122, 122, 255, 0.6);*/
		color:rgb(12,148,209) ;
		transition:all .3s ease;
	}
	
	input:focus::placeholder{
		padding:.1rem .6rem;
		color:rgba(158,219,246, .8);
	
	}
	
	input:focus::selection{
		background-color:rgba(158,219,246, .5);
	}
	
	input::selection{
		background-color:rgba(158,219,246, .5);
	}
	
	input:hover{
		color: rgba(158,219,246, .8);
		transition:all .3s ease;
	}
	
	input:focus{
		color: var(--slate-500);
		border: rgba(158,219,246, .8);
	}
	
	ul{
		position:absolute;
		max-height:226px;
		overflow-y:scroll;
		box-sizing:border-box;
		left:0;
		right:0;
		margin:.5rem 0 0 0;
		padding:0;
		z-index:1;
		list-style:none;
		border-radius:.6rem;
		background-color:#fff;
		border:1px solid rgba(33,33,33,.07);
		box-shadow:0 3px 6px rgba(149,157,165,.15);outline:0;
		transition:opacity .15s ease-in-out;-moz-transition:opacity .15s ease-in-out;-webkit-transition:opacity .15s ease-in-out
	}
	
	ul:empty,.autoComplete_wrapper > ul[hidden]{
		display:block;
		opacity:0;
		transform:scale(0)
	}
	
	ul > li{
		margin:.3rem;padding:.3rem .5rem;text-align:left;font-size:1rem;color:#212121;border-radius:.35rem;
		background-color:#fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;transition:all .2s ease;
		font-family: var(--font-family-logo);font-weight: 500;
	}
	
	ul > li mark{
		background-color:transparent;
		color:var(--sky);
		font-weight:700;
		padding: 0 !important;
	}
	
	ul > li:hover{
		cursor:pointer;
		background-color:rgba(158,219,246, .15);
	}
	
	ul > li[aria-selected=true]{
		background-color:rgba(122,122,255,.15)
	}
	
}



/****** Forecast Data Table *****/
#li-container {
	margin: 1.5rem 2rem 1.5rem 2rem;
	border: none;
}
#li-container > li {
	font-size: .85rem;
	line-height: 1.0rem;
	padding: .5rem;
	border-left: 1px solid rgb(229, 231, 235);
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-radius: 0px;
	color:rgb(94, 110, 130);
	margin-top: 0;

}
#li-container > li.active {
	border-left: 1px solid var(--sky);
	background-color: white;
	color: var(--sky);
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	margin-top: 0;
}
#li-container > li.active:hover {
	cursor: pointer;
	color: var(--sky);
}
#li-container > li:not(.active):hover {
	cursor: pointer;
	color: var(--slate-600);
}

button.dt-button {
	box-shadow: none !important;
	background-color: var(--sky-light);
	color: white;
	font-size: .85rem;
	padding: .2rem .4rem;
}
button.dt-button:hover {
	background-color: var(--sky);
	transition: .4s;
	color: white;
}


/****** DT Buttons *****/
/*
button.dt-button {
	color: rgb(64, 74, 87);
	box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
button.dt-button:hover {
	color: rgb(44, 54, 67);
	box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.1), 0 3px 9px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08)
}
*/


/****** Navbar *****/
/* ============ Desktop - open navbar on hover ============ */
// Match me to navbar-expand-lg limit (or break limit for navbar collapsing) - check .navbar-toggler @media element
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: none;
	}
	.navbar .nav-item:hover .dropdown-menu {
		display: block;
	}
	.navbar .nav-item .dropdown-menu {
		margin-top: -1px; 
	}
}	

/****** Navbar *****/
nav.navbar {
	
	/* Top-level dropdown links */
	li.nav-item > a.nav-link {
		padding: .5rem .8rem;
		font-size: 1.02rem;
	}

	/* Dropdown items */
	.dropdown-menu {
		background-color: var(--slate-100);
		border-color: rgba(15, 23, 42, .05);
		border-radius: .25rem;
		border-width: 1px;
		font-size: .95rem;
		padding: .8rem .4rem;
	}

	.dropdown-menu a {
		font-weight: 500;
		color: var(--slate-800);
		background-color: transparent;
		transition: .2s;
		border-radius: 5px;
	}
	
	.dropdown-menu > div.d-md-flex > div {
		margin: 0 3px;
	}

}



nav.navbar.navbar-home {
	
	/* Top-level dropdown links */
	li.nav-item > a.nav-link {
		color: var(--slate-900);
		font-weight: 600;
		margin-top: .5rem;
	}

	/* Dropdown items */
	.dropdown-menu a:hover {
		background-color: var(--sky);
		color: white;
	}
}

nav.navbar:not(.navbar-home) {

	background-color: var(--forest);

	/* Top-level nav link when dropdown subitem is active */
	li.nav-item > a.nav-link {
		color: var(--slate-100);
	}

	.dropdown-menu a:hover {
		background-color: var(--forest);
		color: white;
	}

	.dropdown-menu a.activepage {
		background-color: var(--forest-dark);
		color: white !important;
	}
	
	/** Make top-level element emphasized on hover **/
	li.nav-item:hover {
		a.nav-link {
			background-color: var(--forest-dark);
		}
	}


}



/****** Sidebar *****/
nav.sidebar {
	position: sticky;
	top: 0rem; /* top: 3.4rem */
	height: 100vh; /*calc(100vh - 4rem);*/
	z-index: 95;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	border-right: 1px solid #eee;
	/*background-color: rgb(241, 241, 241);*/
	max-width: 18rem;
}

nav.sidebar a {
	color: var(--slate-600);
	font-family: var(--bs-font-family-serif);
	text-decoration: none;
	border-left: 1px solid rgb(241, 245, 249);
}

nav.sidebar span.navbar-header {
	font-size:1.1rem;
	color: var(--slate-600);
	padding-left:1.5rem;
	padding-top:.8rem;
}

/* Main Menu Links */
nav.sidebar a.nav-link {
	background-color: transparent;
	font-weight: 500;
	font-size: 0.88rem;
	padding-left: 1.5rem;
	margin-top: 1.2rem;
	color: var(--slate-600);

}
nav.sidebar a.nav-link:hover {
	cursor: pointer;
}

nav.sidebar a.nav-link {
	padding-top: 0.5rem;
	padding-bottom: .5rem;
}


/* Submenu */
nav.sidebar div.sidebar-submenu > a {
	margin-left: 1.5rem;
	padding-left: 0.50remrem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	padding-right: 2.5rem;
	display: block;
	font-size: .88rem;
	color: rgb(94, 110, 130);
	border-left: 1px solid rgb(241, 245, 249);
	transition: 1s;
}

nav.sidebar div.sidebar-submenu > a.activepage {
  /*background-color: var(--bs-forest-dark);
  color: white;*/
  border-left: 1px solid var(--forest);
  color: var(--forest);
}

nav.sidebar div.sidebar-submenu > a:hover {
  /*background-color: var(--bs-sky);
  color: white;*/
  color: var(--slate-900);
  cursor: pointer;
  transition: .4s;
}



/****** DT Table *****/

table.dataTable.data-table th {
	background-color: transparent;
	color: rgb(30, 50, 50);
	font-size: .90rem;
}

table.dataTable.data-table td {
    padding: .25rem .5rem;
    font-size: 0.82rem;
	border: none;
	font-family: var(--bs-font-family-serif);
}
li.paginate_button.page-item {
	font-size: .80rem;
}

table.dataTable.summary-table td {
    padding: .25rem .25rem;
    font-size: 0.92rem;
	border: none;
}

table.dataTable .dt-center {
	text-align: center;
}

table.dataTable .dt-left {
	text-align: left;
}

table.dataTable .dt-right {
	text-align: right;
}


table.dataTable tbody {
	border-bottom: 2px solid black;
}

table.dataTable tr {
	border: none;
}

table.dataTable tr.odd  {
    background-color: rgba(200, 230, 245, .35); /*var(--bs-cmefi-light-warm);*/
}

/****** DT Paginage *****/
.page-item.active .page-link {
    background-color: rgba(200, 230, 245, .35) !important; /*var(--bs-efpale) !important;*/
    border: 1px solid  rgba(220, 220, 220) !important;
}
.page-link {
    color: black !important;
}
.page-link:focus {
	box-shadow: none !important;
}

/***** Forecast Play *****/
#chart-subtitle-group {
	
	button.chart-subtitle {
		background-color: var(--sky);
		color: white;
		border-top: 1px solid var(--sky);
		border-bottom: 1px solid var(--sky);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		transition: .5s;
	}

	button.chart-subtitle.active {
		background-color: var(--sky-dark);
		border-top: 1px solid var(--sky-dark);
		border-bottom: 1px solid var(--sky-dark);
	}

	button.chart-subtitle:disabled {
		background-color: var(--sky-light);
		border-top: 1px solid var(--sky-light);
		border-bottom: 1px solid var(--sky-light);
		opacity: 1;
	}

}


/****** Loading Spinner *****/
.overlay {
    background: #D3D3D3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 98;
}


div.loader-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
	z-index: 1;
}

div.loader-container > div {
	@extend .spinner-border;
	width: min(8%, 6rem);
	aspect-ratio: 1 / 1;
	height: unset;
	color: rgb(148 163 184);
	border-width: 0.25rem;
	animation: 2.4s linear infinite loader-spin;
}

@keyframes loader-spin {
	0% {
		rotate: 0deg;
		color: rgb(148 163 184);
	}
	25% {
		rotate: 180deg;
		color: var(--forest);
	}
	50% {
		rotate: 360deg;
		color: rgb(148 163 184);
	}
	75% {
		rotate: 540deg;
		color: var(--sky);
	}
	100% {
		rotate: 720deg;
		color: rgb(148 163 184);
	}
}

div.loader-container > span {
	font-family: var(--font-family-logo);
	font-weight: 500;
	color: rgb(148 163 184);
	margin-bottom: 1rem;
	font-size: 1.2rem;
	animation: 2.4s linear infinite loader-text;
}

@keyframes loader-text {
	0% {
		color: rgb(148 163 184);
	}
	25% {
		color: var(--forest);
	}
	50% {
		color: rgb(148 163 184);
	}
	75% {
		color: var(--sky);
	}
	100% {
		color: rgb(148 163 184);
	}
  }
  
div.loadee-container {
	opacity: 0;
	transition: opacity 1s;
	background-color: transparent;
	position: relative;
	z-index: 2;
}
