$custom-colors: (
	slate-100: rgb(241 245 249),
	slate-200: rgb(226 232 240),
	slate-300: rgb(203 213 225),
	slate-400: rgb(148 163 184),
	slate-500: rgb(100 116 139),
	slate-600: rgb(71 85 105),
	slate-700: rgb(51 65 85),
	slate-800: rgb(30 41 59),
	slate-900: rgb(15 23 42),

	// To make a color lighter, rotate the hue towards the nearest bright hue — 60°, 180°, or 300°.
	// To make a color darker, rotate the hue towards the nearest dark hue — 0°, 120°, or 240°.
	forest-darker: hsl(120, 58%, 30%),
	forest-dark: hsl(118, 58%, 35%),
	forest: hsl(116, 58%, 40%),
	forest-light: hsl(112, 58%, 55%),
	forest-lighter: hsl(95, 58%, 75%),
	forest-lightest: hsl(95, 58%, 90%),

	sky-darker: hsl(208, 89%, 40%),
	sky-dark: hsl(205, 89%, 45%),
	sky: hsl(199, 89%, 48%),
	sky-light: hsl(195, 89%, 60%),
	sky-lighter: hsl(192, 89%, 75%),
	sky-lightest: hsl(188, 89%, 90%),

	// Accents
	amber-lightest: #fffbeb,
	amber-lighter:	#fef3c7,
	amber-light: #fde68a,
	amber: #fcd34d,
	amber-dark: #f59e0b,
	amber-darker: #d97706, 

	rose-lightest: #fecaca,
	rose-lighter: #fca5a5,
	rose-light: #f87171,
	rose: #ef4444,
	rose-dark: #dc2626,
	rose-darker: #991b1b,

    "white": #FFFFFF,
	white-cool: #EDF2F9,
	white-warm: #FFFAF5,
    white-warmer: #FCFBEF
);


:root{
    @each $key, $value in $custom-colors {
        --#{$key} : #{$value};
    }
}

// https://frontstuff.io/generate-all-your-utility-classes-with-sass-maps
/* Use BS5 mixins instead */
@mixin color-modifiers($attribute: 'color', $modifier: '') {
	@each $name, $hex in $custom-colors {
		&-#{$name}#{$modifier} {
			#{$attribute}: $hex !important;
		}
	}
}

@mixin color-modifiers-hover($attribute: 'color') {
	@each $name, $hex in $custom-colors {
		&-#{$name}:hover {
			#{$attribute}: $hex !important;
		}
	}
}

.text {
	@include color-modifiers('color');
}
.text-hover {
    @include color-modifiers('color', ':hover');
}
.text-active {
    @include color-modifiers('color', '.active');
}
.bg {
	@include color-modifiers('background-color');
}
.bg-hover {
    @include color-modifiers('background-color', ':hover');
}
.bg-active {
    @include color-modifiers('background-color', '.active');
}

