<nav class="navbar navbar-expand-md py-1 shadow-sm"><div class="container-fluid">
	<a class="navbar-brand py-0 ps-3 me-0 my-1 pb-1" href="/">
	<!-- Width:height should be 6:1 -->
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" height="30" viewBox="0 0 1200 200" preserveAspectRatio="xMinYMin">
			<style class="base-styles">
				.path-1, .path-4 {stroke-width: 8px; stroke: rgba(200, 200, 200, 1); }
				.path-2, .path-3 {stroke-width: 12px; stroke: rgba(255, 255, 255, 1); }
			</style>
			<g class="icon-group">
				<line x1="30" y1="60" x2="30" y2="135" class="path path-1"></line><line x1="30" y1="135" x2="90" y2="105" class="path path-1"></line><line x1="90" y1="105" x2="90" y2="30" class="path path-1"></line><line x1="90" y1="30" x2="30" y2="60" class="path path-1"></line>
				<line x1="60" y1="75" x2="60" y2="150" class="path path-2"></line><line x1="60" y1="150" x2="120" y2="120" class="path path-2"></line><line x1="120" y1="120" x2="120" y2="45" class="path path-2"></line><line x1="120" y1="45" x2="60" y2="75" class="path path-2"></line>
				<line x1="90" y1="105" x2="90" y2="180" class="path path-3"></line><line x1="90" y1="180" x2="150" y2="150" class="path path-3"></line><line x1="150" y1="150" x2="150" y2="75" class="path path-3"></line><line x1="150" y1="75" x2="90" y2="105" class="path path-3"></line>
				<line x1="120" y1="120" x2="120" y2="195" class="path path-4"></line><line x1="120" y1="195" x2="180" y2="165" class="path path-4"></line><line x1="180" y1="165" x2="180" y2="90" class="path path-4"></line><line x1="180" y1="90" x2="120" y2="120" class="path path-4"></line>			
			</g>
			<!--<path d="M 30 115 C 60 75, 85 35, 115 115 S 170 185, 180 145" stroke-width="10px" stroke="rgba(45,140,38, 1.0)" fill="transparent" class="wave"></path>-->
			<g transform="translate(220, 125)">      
				<text dominant-baseline="middle" text-anchor="left" class="logo-text" x="0" font-size="108" y="0" font-family="Quicksand" fill="white">{{ title_site }}</text>
			</g>
		</svg>
	</a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbarLg"><span class="navbar-toggler-icon"></span></button>

	<div class="navbar-collapse collapse justify-content-center pe-xxl-5 me-xxl-5 me-xl-3 ml-lg-0 me-0" id="collapsingNavbarLg">
		{% include "partials/navbar-inner.html.twig" %}
	</div>

</div></nav>