# Node stuff
node_modules/
build/
npm-debug.log

# External libs
scss/libs/
js/libs/
web/cache/

# Compiled files
style.css
style.css.map

# Env files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Key test
tests.r
