# Node stuff
node_modules/
build/
npm-debug.log

# External libs
scss/libs/
js/libs/
web/cache/

# Static
web/static/icons
web/static/img/homepage-animation.json
web/static/ads.txt
web/statis/css/

# Compiled files
style.css
style.css.map

# Env files
.env
ecosystem.config.js
ecosystem.config.cjs