<nav class="sidebar col-lg-auto d-none d-lg-block px-0 py-2 bg-light" id="sidebar"> <!-- Hide Sidebar for XS to M Devices -->
	<div class="nav flex-column">
		<a href="#cross-asset" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span class="fa fa-list fa-fw me-1"></span> 
				<span>Cross Asset Correlation</span>
				<span class="fas fa-caret-down ms-auto"></span>
			</div>
		</a>
		<div id='cross-asset' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/ac-assets">
				<span class="fas fa-info-circle"></span><span class="ps-2">Index Overview</span>
			</a>
			<a class="text-truncate" href="/ac-assets#chart-container">
				<span class="fas fa-chart-area"></span><span class="ps-2">Index Data</span>
			</a>
			<a class="text-truncate" href="/ac-assets-hm">
				<span class="fas fa-table"></span><span class="ps-2">Asset Class Heatmap</span>
			</a>
		</div>				
		
		<a href="#cross-region" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span class="fas fa-globe-americas fas-fw me-1"></span> 
				<span>Cross Region Correlation</span>
				<span class="fas fa-caret-down ml-auto"></span>
			</div>
		</a>
		<div id='cross-region' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/ac-regions">
				<span class="fas fa-info-circle"></span><span class="ps-2">Index Overview</span>
			</a>
			<a class="text-truncate" href="/ac-regions#chart-container">
				<span class="fas fa-chart-area"></span><span class="ps-2">Index Data</span>
			</a>
			<a class="text-truncate" href="/ac-regions-hm">
				<span class="fas fa-table"></span><span class="ps-2">Regional Heatmap</span>
			</a>
		</div>				
	</div>
</nav>
