{% extends "partials/base.html.twig" %}

{% block meta %}
<meta name="description" content="Our blog features macroecononomic commentary, research, and forecasts from economists and data scientists."/>
<link rel="canonical" href="https://macropredictions.com/blog">
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block navbar %}
	{% include 'partials/navbar.html.twig' %}
{% endblock %}


{% block content %}
<div class="container-fluid"><div class="container">
	<div class="row mb-5 mt-5 justify-content-center px-sm-4 p-0">
		<div class="col-md-8 col-xl-7 col-xxl-6 blog-posts-container">
			<div>
				<h2 class="border-bottom font-family-serif">Posts <span class="fs-6 fst-italic">{{ clear_filters }}</span></h2>
				{{ blog_posts }}
			</div>
			<div class="blog-pagination d-flex justify-content-center mt-5">
				{{ pagination }}
			</div>
		</div>

		<aside class="ps-4 px-sm-4 col-md-4 col-lg-3 col-xxl-3 blog-sidebar font-family-serif">
			<div class="mb-5 bg-light rounded">
				<h5 class="font-italic border-bottom">About</h5>
				<p class="mb-0">Our latest commentary, analysis and data on economic forecasting, with a focus on the technical side of modeling and macroeconomics.</p>
			</div>

			<div>
				<h5 class="font-italic border-bottom">Filter</h5>
				<span class="fs-6">Topics</span>
				<ul class="list-group">
					{{ tags }}
				</ul>
			</div>		
		</aside>
	</div>
 </div></div>
 {% endblock %}