{% extends "base.html.twig" %}

{% block staticlinks %}
{# <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script> #}
{% endblock %}

{% block navbar %}
	{% include 'navbar-other.html.twig' %}
{% endblock %}

{% block content %}
<div class="d-flex" style="background-color:var(--bs-white-cool)">
	{% include 'forecast-sidebar-rates.html.twig' %}
	<div class="col mx-2 pb-5">
		<div class="container-xxl" id="forecast-container">

			<div class="row g-0">
				<div class="col-12 px-0">
						<div class="card my-3 mx-0 rounded shadow-sm">
							<div class="card-body py-0">
								<div id="chart-loader-container" class="loader-container"><span>Pulling data...</span><div></div></div>
								<div id="chart-loadee-container" class="loadee-container">
									<div id="chart-container" style="height:400px"></div>
									<div id="chart-container-2" style="height:150px"></div>
								</div>
							</div>
						</div>
				</div>
			</div>
			
			<div class="row g-0">
			
				<div class="col-xxl-6 col-lg-12 pe-xxl-2 mb-3 order-xxl-1 order-lg-2">
				
					<div class="card shadow-sm mb-2">
						<div class="card-body">
							<div class="mb-2"><span style="vertical-align:middle;font-size:1.3rem;">FORECAST DATA</span></div>
							<table id="table-container-2" class="table data-table w-100"></table>
						</div>
					</div>
					
					<div class="card shadow-sm">
						<div class="card-body">
							<div class="mb-2"><span style="vertical-align:middle;font-size:1.3rem;">HISTORICAL DATA</span></div>
							<table id="table-container" class="table data-table w-100"></table>
						</div>
					</div>

				</div>

				<div class="col-xxl-6 col-lg-12 ps-xxl-2 mb-3 order-xxl-2 order-lg-1">
					<div class="card shadow-sm">
						<div class="card-body" style="font-size:.92rem">
							<div class="mb-2"><span style="vertical-align:middle;font-size:1.3rem;">FORECAST DESCRIPTION</span></div>
							<p>Our <strong><i class="cmefi-logo mx-1"></i>Market Consensus Treasury Forecast</strong> is a model that calculates the average market expectated forecast of U.S. Treasury yield rates.</p>
							<p>It is derived using current <a href="https://www.treasury.gov/resource-center/data-chart-center/Pages/index.aspx">Treasury bond market data</a> 
							as well as futures market data. For each point in the yield term structure, our model derives the mean market-expected yield rate. 
							The term structure is then interpolated and smoothed using a three-factor parametrization model, generating the final forecast.</p>
							<p><strong>The model is updated daily between 16:00 and 20:00 ET.</strong> The last updated occured on <span id="last-updated"></span>.</p>
							<p>The below graph shows the generated forecasts by month. Click any date in the legend to hide/show the Treasury yield curve at each respective date.</p>
							<div id="chart-container-alt"></div>
							<hr class="mt-5">
							<div id="citation" style="line-height:1rem;font-size:.75rem">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--
	<div class="col-12 col-lg-8 col-xl-9 col-xxl-9 m-auto pt-0 px-2 pb-5">
	
		<div class="row justify-content-center" style="background-color:rgba(25, 50, 20, 0.1)">
			<div id="chart-container" class="col-xl-9 col-lg-10 col-12-md">
			</div>
			<div id="chart-container-2" class="col-xl-9 col-lg-10 col-12-md">
			</div>
		</div>
		<div class="row justify-content-center pt-3">

			<div class="card border-secondary border-2 m-2 col-xl-8 col-md-10 col-sm-12">
				<div class="card-body">
				<h5 class="card-title" style="color:rgb(33, 177, 151)">Treasury Curve Forecast Data</h5>
				<h6 class="card-subtitle mb-2 text-muted fst-italic">monthly frequency represents average of daily values</h6>
				<table id="table-container-2" class="table data-table w-100"></table>
				</div>
			</div>

		
			<div class="card border-secondary border-2 m-2 col-xl-8 col-md-10 col-sm-12">
				<div class="card-body">
				<h5 class="card-title" style="color: darkblue">Treasury Curve Historical Data</h5>
				<h6 class="card-subtitle mb-2 text-muted fst-italic">monthly frequency represents average of daily values</h6>
				<table id="table-container" class="table data-table w-100"></table>
				</div>
			</div>

		</div>
	</div>
	-->
</div>
{% endblock %}