<nav class="sidebar col-lg-auto d-none d-lg-block px-0 py-2 bg-white" id="sidebar"> <!-- Hide Sidebar for XS to M Devices -->
	<div class="nav flex-column">
		<span class="navbar-header font-family-logo fw-medium mt-3" style="color:rgb(67, 71, 81)">Macro Forecasts</span>
		<a href="#us" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span>US Economy</span>
				<span class="bi bi-chevron-down ms-1" style="font-size:.75rem"></span>
			</div>
		</a>
		<div id='us' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/forecast-gdp">
				<span class="ps-2">GDP</span>
			</a>
			<a class="text-truncate" href="/nowcast-gdp">
				<span class="ps-2">GDP (Nowcast)</span>
			</a>
			<a class="text-truncate" href="/forecast-pce">
				<span class="ps-2">Personal Consumption</span>
			</a>
			<a class="text-truncate" href="/forecast-pdi">
				<span class="ps-2">Private Domestic Investment</span>
			</a>
			<a class="text-truncate" href="/forecast-cpi">
				<span class="ps-2">Inflation</span>
			</a>
		</div>				
		
	</div>
</nav>
