{% extends "partials/base.html.twig" %}

{% block meta %}
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block navbar %}
<div class="bg-grid"><div style="background:linear-gradient(to bottom right, rgba(150, 200, 200, .5), rgba(200, 255, 100, .3))"><div class="container-xxl">
	{% include "partials/navbar-home.html.twig" %}

	<div class="container-xxl">

		<div class="row pb-5 pt-2">

			<div class="col-12 col-md-8 col-xxl-7 pt-5 mt-3 pb-5">
				<div class="rounded border py-4 py-xxl-5 px-4 px-xxl-5 ms-xxl-5 ms-lg-3 ms-md-2 ms-0 my-5 me-1 me-xxl-2" style="background-color:rgba(255, 255, 255, .9);box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(15, 23, 42, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;">
					<h1 style="font-weight:700">Economic Forecasts & Insights</h1>
					<p class="fs-5 fw-medium">Macroeconomic datasets and forecasts. </p>

					<!--
					<p class="font-family-logo text-black-80 mt-3" style="font-size:1.1rem;font-weight: 500">We're on a journey to make economic data and knowledge available to everyone. </p>
					<p class="font-family-logo text-black-80 mt-3" style="font-size:1.1rem;font-weight: 500">Our models are built ground-up combining traditional structural modeling with ML-based signal extraction, allowing us to shift from reactive to proactive insights.</p>
					-->
					<!-- Autocomplete -->
			
					<div role="combobox" aria-owns="autoComplete_list" aria-haspopup="true" aria-expanded="false" class="autoComplete_wrapper mb-2 mt-4">
						<input id="autoComplete" class="form-control">
					</div>
					
					<div class="d-flex justify-content-center w-100 pt-3 align-items-center flex-wrap column-gap-2 row-gap-2" style="column-gap: 10px">
						<span class="fw-bold text-slate-400 text-sm" style="letter-spacing:.05rem">POPULAR</span>
						<a role="button" href="/forecast/t10y" class="btn btn-sm bg-sky bg-hover-sky-light text-slate-100 rounded-pill px-3 fs-6">10-year Treasury forecast</a>
						<a role="button" href="/forecast/sofr" class="btn btn-sm bg-sky bg-hover-sky-light text-slate-100 rounded-pill px-3 fs-6">SOFR forecast</a>
						<a role="button" href="/treasury-curve" class="btn btn-sm bg-sky bg-hover-sky-light text-slate-100 rounded-pill px-3 fs-6" >Treasury curve forecast & data</a>
						<a role="button" href="/forecast/sonia" class="btn btn-sm bg-sky bg-hover-sky-light text-slate-100 rounded-pill px-3 fs-6" >SONIA forecast</a>
						<a role="button" href="/forecast/cpi" class="btn btn-sm bg-sky bg-hover-sky-light text-slate-100 rounded-pill px-3 fs-6" >Inflation (CPI-U) forecast</a>
					</div>
				</div>
			</div>


			<div class="d-none d-md-block col-md-4 col-lg-4 col-xxl-5 overflow-hidden pb-5">
				<div class="mx-2 mx-xxl-4" style="min-width:360px;max-width:460px;">
					<lottie-player 
						src="/static/img/homepage-animation.json" 
						background="transparent"
						
						speed="1.5"
						direction="1" 
						mode="normal" 
						count="50"
						loop
						autoplay
					></lottie-player>
				</div>
			</div>

		</div>
	</div>

</div></div></div>
{% endblock %}


{% block content %}



<div class="container-fluid px-0 pb-5" style="background:white">
	{# <div class="container">
		<div class="row d-flex mt-5 justify-content-between">
			<div class="col-md-6 col-sm-12 mt-4 d-flex ">
				<div class="w-100 px-5 py-3 mt-5">
					<svg viewBox="0 0 100 100" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" style="width:1.2rem"><path d="M29,70h0a1,1,0,1,0,1-1A1,1,0,0,0,29,70Zm0-8v2a1,1,0,0,0,2,0V62a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V54a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V46a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V38a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V30a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V22a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V14a1,1,0,0,0-2,0Z"></path><path d="M62,69H60a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M54,69H52a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M38,69H36a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M46,69H44a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M70,69H68a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M86,69H84a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M78,69H76a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M12.32227,86.26344,10.908,87.67766a1,1,0,0,0,1.41425,1.4142l1.41424-1.41422a1,1,0,0,0-1.41424-1.4142Zm5.65686-5.65684-1.41425,1.4142a1,1,0,1,0,1.41425,1.4142l1.41424-1.4142a1,1,0,0,0-1.41424-1.4142ZM23.636,74.94974,22.22174,76.364a1,1,0,0,0,1.41425,1.4142l1.41424-1.41421a1,1,0,0,0-1.41424-1.4142Zm5.65686-5.65685-1.41425,1.4142a1,1,0,0,0,1.41425,1.4142l1.41424-1.4142a1,1,0,0,0-1.41424-1.4142Z"></path><path d="M94.707,69.29291l-63.99994-64a1,1,0,0,0-1.41424,0l-24,24c-.01551.0155-.02057.03625-.03485.05249a.983.983,0,0,0-.149.22449.96329.96329,0,0,0-.04279.09008A.9868.9868,0,0,0,5,30V94a1,1,0,0,0,1,1H70a.98652.98652,0,0,0,.34-.06622.94912.94912,0,0,0,.09008-.04279.98462.98462,0,0,0,.22449-.14905c.01624-.01428.037-.01934.05249-.03485l24-24A1,1,0,0,0,94.707,69.29291ZM70,92.58582,7.41418,30,30,7.41418,92.58569,70ZM7,32.41425,67.58575,93H7Z"></path></svg>
					
					<span style="font-size:1.1rem" class="text-muted font-monospace">On demand</span>
					
					<h5 class="mt-1">Data Driven Macroeconomics</h5>
					<p class="text-black-50 mt-4" style="font-size:1.0rem">Improved technology makes it possible to collect more data at ever higher frequencies. We use this data to construct timely measures of the state of the economy.</p>
				</div>
			</div>

			
			<div class="col-md-6 col-sm-12 mt-4 px-4 d-flex justify-content-center">
				<a class="p-5 homepage-cards mx-1 text-decoration-none d-flex flex-column justify-content-evenly" href="/sentiment">
									
					<svg class="mx-auto w-50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<path style="fill:#FF7226;" d="M0,84.988v361.815h223.669c2.445,0,3.769,1.593,4.224,2.279l10.021,11.688l36.18-0.003l10.018-11.689
						c0.453-0.683,1.776-2.274,4.221-2.274H512V84.988H0z"/>
					<path style="fill:#F7EBD4;" d="M223.667,51.23H33.758v361.815h189.909c13.492,0,25.381,6.889,32.333,17.339l22.505-180.899
						L256,68.586C249.049,58.127,237.166,51.23,223.667,51.23z"/>
					<path style="fill:#D2F0E7;" d="M288.333,51.23c-13.499,0-25.383,6.897-32.333,17.355v361.798
						c6.951-10.453,18.839-17.339,32.333-17.339h189.909V51.23H288.333z"/>
					<g>
						<path style="fill:#127C8D;" d="M210.989,104.68H78.769c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S215.651,104.68,210.989,104.68z"/>
						<path style="fill:#127C8D;" d="M210.989,138.439H78.769c-4.662,0-8.44-3.779-8.44-8.44c0-4.661,3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44C219.429,134.66,215.651,138.439,210.989,138.439z"/>
						<path style="fill:#127C8D;" d="M210.989,172.197H78.769c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S215.651,172.197,210.989,172.197z"/>
						<path style="fill:#127C8D;" d="M210.989,205.955H78.769c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S215.651,205.955,210.989,205.955z"/>
						<path style="fill:#127C8D;" d="M210.989,239.713H78.769c-4.662,0-8.44-3.779-8.44-8.44c0-4.661,3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44C219.429,235.935,215.651,239.713,210.989,239.713z"/>
						<path style="fill:#127C8D;" d="M144.879,273.472h-66.11c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h66.11
							c4.662,0,8.44,3.779,8.44,8.44S149.541,273.472,144.879,273.472z"/>
					</g>
					<rect x="78.769" y="298.794" style="fill:#F99FB6;" width="132.22" height="69.238"/>
					<g>
						<path style="fill:#127C8D;" d="M433.231,241.441h-132.22c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S437.893,241.441,433.231,241.441z"/>
						<path style="fill:#127C8D;" d="M433.231,275.199h-132.22c-4.662,0-8.44-3.779-8.44-8.44c0-4.661,3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44C441.67,271.42,437.893,275.199,433.231,275.199z"/>
						<path style="fill:#127C8D;" d="M433.231,308.957h-132.22c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S437.893,308.957,433.231,308.957z"/>
						<path style="fill:#127C8D;" d="M433.231,342.715h-132.22c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S437.893,342.715,433.231,342.715z"/>
						<path style="fill:#127C8D;" d="M367.121,376.474h-66.11c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h66.11
							c4.662,0,8.44,3.779,8.44,8.44S371.783,376.474,367.121,376.474z"/>
						<path style="fill:#127C8D;" d="M433.231,190.803c-7.143,0-13.385-1.394-18.989-3.883v-78.357
							c5.604-2.489,11.846-3.883,18.989-3.883c4.662,0,8.44-3.779,8.44-8.44c0-4.661-3.778-8.44-8.44-8.44
							c-32.447,0-50.952,21.834-66.11,44.479c-15.157-22.644-33.663-44.479-66.11-44.479c-4.662,0-8.44,3.779-8.44,8.44
							c0,4.661,3.778,8.44,8.44,8.44c7.143,0,13.385,1.394,18.989,3.883v78.356c-5.604,2.489-11.846,3.883-18.989,3.883
							c-4.662,0-8.44,3.779-8.44,8.44c0,4.661,3.778,8.44,8.44,8.44c32.447,0,50.952-21.834,66.11-44.479
							c15.157,22.644,33.663,44.479,66.11,44.479c4.662,0,8.44-3.779,8.44-8.44C441.67,194.581,437.893,190.803,433.231,190.803z
							 M336.879,174.747v-54.012c7.266,7.417,13.635,16.831,20.207,27.005C350.514,157.916,344.145,167.331,336.879,174.747z
							 M377.156,147.741c6.573-10.175,12.941-19.59,20.207-27.005v54.012C390.097,167.331,383.728,157.916,377.156,147.741z"/>
					</g>
					</svg>
					<h6 class="text-black mt-2 text-center">Sentiment Analysis</h6>
				</a>
				
				<a class="p-5 homepage-cards mx-1 text-decoration-none d-flex flex-column justify-content-evenly" href="nowcast-gdp">
					<svg class="mx-auto w-50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57.924 57.924" style="enable-background:new 0 0 57.924 57.924;" xml:space="preserve">
						<g>
						<path style="fill:#F0C419;" d="M31,26.924h26.924C56.94,12.503,45.421,0.983,31,0V26.924z"/>
						<path style="fill:#71C285;" d="M50.309,48.577c4.343-4.71,7.151-10.858,7.614-17.653H32.656L50.309,48.577z"/>
						<path style="fill:#556080;" d="M27,30.924V0C11.918,1.028,0,13.58,0,28.924c0,16.016,12.984,29,29,29
							c6.99,0,13.396-2.479,18.401-6.599L27,30.924z"/>
						</g>
					</svg>
					<h6 class="text-black mt-2 text-center">GDP Nowcast</h6>
				</a>

			</div>

		</div>
	</div> #}
</div>
<div class="row my-5"></div>

{% endblock %}