{% extends "partials/base.html.twig" %}

{% block meta %}
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block navbar %}
<div class="bg-grid"><div style="background:linear-gradient(to bottom right, rgba(150, 200, 200, .5), rgba(200, 255, 100, .3))"><div class="container-xxl">{# style="max-width:1600px;background:url(/static/img/ribbons.png) no-repeat right/cover"> #}
	{% include "partials/navbar-home.html.twig" %}

	<div class="container-xxl">

		<div class="row pb-5 pt-2">

			<div class="col-12 col-md-8 col-xxl-7 pt-5 mt-3 pb-5">
				<div class="rounded border py-4 py-xxl-5 px-4 px-xxl-5 ms-xxl-5 ms-lg-3 ms-md-2 ms-0 my-5 me-1 me-xxl-2" style="background-color:rgba(255, 255, 255, .9);box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(15, 23, 42, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;">
					<h1 style="font-weight:700">Economic Forecasts & Insights</h1>
					<p class="fs-5 fw-medium">Macroeconomic datasets and forecasts. </p>

					<!--
					<p class="font-family-logo text-black-80 mt-3" style="font-size:1.1rem;font-weight: 500">We're on a journey to make economic data and knowledge available to everyone. </p>
					<p class="font-family-logo text-black-80 mt-3" style="font-size:1.1rem;font-weight: 500">Our models are built ground-up combining traditional structural modeling with ML-based signal extraction, allowing us to shift from reactive to proactive insights.</p>
					-->
					<!-- Autocomplete -->
			
					<div role="combobox" aria-owns="autoComplete_list" aria-haspopup="true" aria-expanded="false" class="autoComplete_wrapper mb-2 mt-4">
						<input id="autoComplete" class="form-control">
					</div>
					
					<div class="d-flex justify-content-center w-100 pt-3 align-items-center flex-wrap column-gap-2 row-gap-2" style="column-gap: 10px">
						<span class="fw-bold text-slate-400 text-sm" style="letter-spacing:.05rem">POPULAR</span>
						<a role="button" href="/forecast/t10y" class="btn btn-sm bg-sky-light bg-hover-sky text-white rounded-pill px-3 fs-6">10-year Treasury forecast</a>
						<a role="button" href="/forecast/sofr" class="btn btn-sm bg-sky-light bg-hover-sky text-white rounded-pill px-3 fs-6">SOFR forecast</a>
						<a role="button" href="/treasury-curve" class="btn btn-sm bg-sky-light bg-hover-sky text-white rounded-pill px-3 fs-6" >Treasury curve forecast & data</a>
						<a role="button" href="/forecast/sonia" class="btn btn-sm bg-sky-light bg-hover-sky text-white rounded-pill px-3 fs-6" >SONIA forecast</a>
						<a role="button" href="/forecast/cpi" class="btn btn-sm bg-sky-light bg-hover-sky text-white rounded-pill px-3 fs-6" >Inflation (CPI-U) forecast</a>
					</div>
				</div>
			</div>


			<div class="d-none d-md-block col-md-4 col-lg-4 col-xxl-5 overflow-hidden pb-5">
				<div class="mx-2 mx-xxl-4" style="min-width:360px;max-width:460px;">
					<lottie-player 
						src="/static/img/homepage-animation.json" 
						background="transparent"
						
						speed="1.5"
						direction="1" 
						mode="normal" 
						count="50"
						loop
						autoplay
					></lottie-player>
				</div>
			</div>

		</div>
	</div>

</div></div></div>
{% endblock %}


{% block content %}



<div class="container-fluid px-0 pb-5" style="background:white">
	<!--
	<div class="container">
		<div class="row d-flex mt-5 justify-content-between">
			<div class="col-md-6 col-sm-12 mt-4 d-flex ">
				<div class="w-100 px-5 py-3 mt-5">
					<svg viewBox="0 0 100 100" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" style="width:1.2rem"><path d="M29,70h0a1,1,0,1,0,1-1A1,1,0,0,0,29,70Zm0-8v2a1,1,0,0,0,2,0V62a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V54a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V46a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V38a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V30a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V22a1,1,0,0,0-2,0Zm0-8v2a1,1,0,0,0,2,0V14a1,1,0,0,0-2,0Z"></path><path d="M62,69H60a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M54,69H52a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M38,69H36a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M46,69H44a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M70,69H68a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M86,69H84a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M78,69H76a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path><path d="M12.32227,86.26344,10.908,87.67766a1,1,0,0,0,1.41425,1.4142l1.41424-1.41422a1,1,0,0,0-1.41424-1.4142Zm5.65686-5.65684-1.41425,1.4142a1,1,0,1,0,1.41425,1.4142l1.41424-1.4142a1,1,0,0,0-1.41424-1.4142ZM23.636,74.94974,22.22174,76.364a1,1,0,0,0,1.41425,1.4142l1.41424-1.41421a1,1,0,0,0-1.41424-1.4142Zm5.65686-5.65685-1.41425,1.4142a1,1,0,0,0,1.41425,1.4142l1.41424-1.4142a1,1,0,0,0-1.41424-1.4142Z"></path><path d="M94.707,69.29291l-63.99994-64a1,1,0,0,0-1.41424,0l-24,24c-.01551.0155-.02057.03625-.03485.05249a.983.983,0,0,0-.149.22449.96329.96329,0,0,0-.04279.09008A.9868.9868,0,0,0,5,30V94a1,1,0,0,0,1,1H70a.98652.98652,0,0,0,.34-.06622.94912.94912,0,0,0,.09008-.04279.98462.98462,0,0,0,.22449-.14905c.01624-.01428.037-.01934.05249-.03485l24-24A1,1,0,0,0,94.707,69.29291ZM70,92.58582,7.41418,30,30,7.41418,92.58569,70ZM7,32.41425,67.58575,93H7Z"></path></svg>
					
					<span style="font-size:1.1rem" class="text-muted font-monospace">On demand</span>
					
					<h5 class="mt-1">Data Driven Macroeconomics</h5>
					<p class="text-black-50 mt-4" style="font-size:1.0rem">Improved technology makes it possible to collect more data at ever higher frequencies. We use this data to construct timely measures of the state of the economy.</p>
				</div>
			</div>

			
			<div class="col-md-6 col-sm-12 mt-4 px-4 d-flex justify-content-center">
				<a class="p-5 homepage-cards mx-1 text-decoration-none d-flex flex-column justify-content-evenly" href="/sentiment">
									
					<svg class="mx-auto w-50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
					<path style="fill:#FF7226;" d="M0,84.988v361.815h223.669c2.445,0,3.769,1.593,4.224,2.279l10.021,11.688l36.18-0.003l10.018-11.689
						c0.453-0.683,1.776-2.274,4.221-2.274H512V84.988H0z"/>
					<path style="fill:#F7EBD4;" d="M223.667,51.23H33.758v361.815h189.909c13.492,0,25.381,6.889,32.333,17.339l22.505-180.899
						L256,68.586C249.049,58.127,237.166,51.23,223.667,51.23z"/>
					<path style="fill:#D2F0E7;" d="M288.333,51.23c-13.499,0-25.383,6.897-32.333,17.355v361.798
						c6.951-10.453,18.839-17.339,32.333-17.339h189.909V51.23H288.333z"/>
					<g>
						<path style="fill:#127C8D;" d="M210.989,104.68H78.769c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S215.651,104.68,210.989,104.68z"/>
						<path style="fill:#127C8D;" d="M210.989,138.439H78.769c-4.662,0-8.44-3.779-8.44-8.44c0-4.661,3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44C219.429,134.66,215.651,138.439,210.989,138.439z"/>
						<path style="fill:#127C8D;" d="M210.989,172.197H78.769c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S215.651,172.197,210.989,172.197z"/>
						<path style="fill:#127C8D;" d="M210.989,205.955H78.769c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S215.651,205.955,210.989,205.955z"/>
						<path style="fill:#127C8D;" d="M210.989,239.713H78.769c-4.662,0-8.44-3.779-8.44-8.44c0-4.661,3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44C219.429,235.935,215.651,239.713,210.989,239.713z"/>
						<path style="fill:#127C8D;" d="M144.879,273.472h-66.11c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h66.11
							c4.662,0,8.44,3.779,8.44,8.44S149.541,273.472,144.879,273.472z"/>
					</g>
					<rect x="78.769" y="298.794" style="fill:#F99FB6;" width="132.22" height="69.238"/>
					<g>
						<path style="fill:#127C8D;" d="M433.231,241.441h-132.22c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S437.893,241.441,433.231,241.441z"/>
						<path style="fill:#127C8D;" d="M433.231,275.199h-132.22c-4.662,0-8.44-3.779-8.44-8.44c0-4.661,3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44C441.67,271.42,437.893,275.199,433.231,275.199z"/>
						<path style="fill:#127C8D;" d="M433.231,308.957h-132.22c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S437.893,308.957,433.231,308.957z"/>
						<path style="fill:#127C8D;" d="M433.231,342.715h-132.22c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h132.22
							c4.662,0,8.44,3.779,8.44,8.44S437.893,342.715,433.231,342.715z"/>
						<path style="fill:#127C8D;" d="M367.121,376.474h-66.11c-4.662,0-8.44-3.779-8.44-8.44s3.778-8.44,8.44-8.44h66.11
							c4.662,0,8.44,3.779,8.44,8.44S371.783,376.474,367.121,376.474z"/>
						<path style="fill:#127C8D;" d="M433.231,190.803c-7.143,0-13.385-1.394-18.989-3.883v-78.357
							c5.604-2.489,11.846-3.883,18.989-3.883c4.662,0,8.44-3.779,8.44-8.44c0-4.661-3.778-8.44-8.44-8.44
							c-32.447,0-50.952,21.834-66.11,44.479c-15.157-22.644-33.663-44.479-66.11-44.479c-4.662,0-8.44,3.779-8.44,8.44
							c0,4.661,3.778,8.44,8.44,8.44c7.143,0,13.385,1.394,18.989,3.883v78.356c-5.604,2.489-11.846,3.883-18.989,3.883
							c-4.662,0-8.44,3.779-8.44,8.44c0,4.661,3.778,8.44,8.44,8.44c32.447,0,50.952-21.834,66.11-44.479
							c15.157,22.644,33.663,44.479,66.11,44.479c4.662,0,8.44-3.779,8.44-8.44C441.67,194.581,437.893,190.803,433.231,190.803z
							 M336.879,174.747v-54.012c7.266,7.417,13.635,16.831,20.207,27.005C350.514,157.916,344.145,167.331,336.879,174.747z
							 M377.156,147.741c6.573-10.175,12.941-19.59,20.207-27.005v54.012C390.097,167.331,383.728,157.916,377.156,147.741z"/>
					</g>
					</svg>
					<h6 class="text-black mt-2 text-center">Sentiment Analysis</h6>
				</a>
				
				<a class="p-5 homepage-cards mx-1 text-decoration-none d-flex flex-column justify-content-evenly" href="nowcast-gdp">
					<svg class="mx-auto w-50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57.924 57.924" style="enable-background:new 0 0 57.924 57.924;" xml:space="preserve">
						<g>
						<path style="fill:#F0C419;" d="M31,26.924h26.924C56.94,12.503,45.421,0.983,31,0V26.924z"/>
						<path style="fill:#71C285;" d="M50.309,48.577c4.343-4.71,7.151-10.858,7.614-17.653H32.656L50.309,48.577z"/>
						<path style="fill:#556080;" d="M27,30.924V0C11.918,1.028,0,13.58,0,28.924c0,16.016,12.984,29,29,29
							c6.99,0,13.396-2.479,18.401-6.599L27,30.924z"/>
						</g>
					</svg>
					<h6 class="text-black mt-2 text-center">GDP Nowcast</h6>
				</a>

			</div>

		</div>
	</div>
	-->
</div>
<div class="container-fluid px-0 pb-5 d-none">
	<div class="container">
		<div class="row flex-center mt-5 d-flex">
			<div class="col-xl-4 col-md-6 mt-4 d-flex">
				<div class="w-100 rounded p-5" style="background-image: linear-gradient(to right bottom, rgb(249, 250, 251), rgb(255, 255, 255))">
						
					<svg style="width:1.2rem" viewBox="0 0 100 100" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><path d="M94.71,49.29l-44-44a1.01424,1.01424,0,0,0-1.42,0l-44,44a.035.035,0,0,1-.00995.02.9901.9901,0,0,0,0,1.38.035.035,0,0,1,.00995.02l44,44a1.01409,1.01409,0,0,0,1.42,0l44-44a1.01416,1.01416,0,0,0,0-1.42ZM49,91.59,9.6,52.19,49,64.73Zm0-28.95L7.86,49.55,49,8.41Zm2,28.95V64.73L90.38,52.2Zm0-28.95V8.41L92.13,49.55Z"/><path d="M42.42022,39.70319l1.90585-.64042a1.06886,1.06886,0,0,0,.64972-1.3266A.99051.99051,0,0,0,43.71966,37.05l-1.90585.64043a1.06886,1.06886,0,0,0-.64972,1.32659A.99051.99051,0,0,0,42.42022,39.70319Zm-7.6234,2.5617,1.90585-.64042a1.06887,1.06887,0,0,0,.64972-1.3266.99051.99051,0,0,0-1.25613-.68617l-1.90585.64042a1.06888,1.06888,0,0,0-.64972,1.3266A.99052.99052,0,0,0,34.79682,42.26489Zm-7.6234,2.5617,1.90585-.64043a1.06885,1.06885,0,0,0,.64972-1.32659.99051.99051,0,0,0-1.25613-.68617l-1.90585.64043a1.06885,1.06885,0,0,0-.64972,1.32659A.99051.99051,0,0,0,27.17342,44.82659ZM19.55,47.3883l1.90586-.64043a1.06887,1.06887,0,0,0,.64972-1.3266.99051.99051,0,0,0-1.25613-.68616l-1.90585.64042a1.06887,1.06887,0,0,0-.64973,1.3266A.99052.99052,0,0,0,19.55,47.3883ZM11.92661,49.95l1.90585-.64043a1.06885,1.06885,0,0,0,.64972-1.32659.99051.99051,0,0,0-1.25613-.68617l-1.90585.64043a1.06885,1.06885,0,0,0-.64972,1.32659A.99051.99051,0,0,0,11.92661,49.95Z"/><path d="M58.18618,37.69043,56.28033,37.05a.99051.99051,0,0,0-1.25613.68617,1.06887,1.06887,0,0,0,.64972,1.3266l1.90585.64042A.99051.99051,0,0,0,58.8359,39.017,1.06885,1.06885,0,0,0,58.18618,37.69043Zm7.6234,2.56169-1.90585-.64042a.99052.99052,0,0,0-1.25613.68617,1.06887,1.06887,0,0,0,.64972,1.3266l1.90585.64042a.99051.99051,0,0,0,1.25613-.68617A1.06886,1.06886,0,0,0,65.80958,40.25212Zm7.6234,2.56171-1.90585-.64043a.99051.99051,0,0,0-1.25613.68617,1.06886,1.06886,0,0,0,.64972,1.32659l1.90585.64043a.99051.99051,0,0,0,1.25613-.68617A1.06886,1.06886,0,0,0,73.433,42.81383Zm7.6234,2.5617-1.90584-.64042a.9905.9905,0,0,0-1.25613.68616,1.06887,1.06887,0,0,0,.64972,1.3266L80.45,47.3883a.99051.99051,0,0,0,1.25613-.68617A1.06887,1.06887,0,0,0,81.05638,45.37553Zm7.62341,2.56171-1.90585-.64043a.99051.99051,0,0,0-1.25613.68617,1.06886,1.06886,0,0,0,.64972,1.32659l1.90585.64043a.99051.99051,0,0,0,1.25613-.68617A1.06886,1.06886,0,0,0,88.67979,47.93724Z"/></svg>

					<span style="font-size:1.2rem" class="font-monospace text-muted">NEWS</span>
					<h5 class="mt-1">Updates</h5>
					<p class="text-black-50 mt-4" style="font-size:1.0rem">New models, indices, etc.</p>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 mt-4 px-4">
				<div class="w-100 rounded-3 text-center" style="background-image:linear-gradient(to right, rgb(253, 242, 248), rgb(255, 255, 255)); box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset">
					<h1 class="p-5">
					<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 470 470" style="width:5rem" xml:space="preserve" fill="var(--bs-cmefi-orange)">
						<g>
							<path d="M235,181.153c49.943,0,90.576-40.632,90.576-90.576S284.943,0,235,0s-90.576,40.632-90.576,90.576
								S185.057,181.153,235,181.153z M235,15c41.673,0,75.576,33.903,75.576,75.576S276.673,166.153,235,166.153
								s-75.576-33.903-75.576-75.576S193.327,15,235,15z"/>
							<path d="M202.389,211.906c-4.069,0.773-6.741,4.699-5.968,8.769c0.684,3.596,3.829,6.101,7.359,6.101
								c0.465,0,0.937-0.043,1.409-0.133c19.458-3.698,39.992-3.709,59.452-0.032c4.064,0.768,7.993-1.906,8.762-5.977
								c0.77-4.07-1.906-7.993-5.977-8.762C246.129,207.847,223.683,207.859,202.389,211.906z"/>
							<path d="M235,138.268c15.97,0,30.862-7.924,39.838-21.197c2.32-3.431,1.42-8.094-2.012-10.414s-8.094-1.419-10.414,2.012
								c-6.182,9.142-16.429,14.599-27.412,14.599c-10.982,0-21.23-5.458-27.412-14.6c-2.319-3.431-6.981-4.332-10.414-2.012
								c-3.432,2.32-4.332,6.983-2.012,10.414C204.138,130.344,219.03,138.268,235,138.268z"/>
							<path d="M279.875,257.375c0,36.324,29.552,65.875,65.875,65.875s65.875-29.551,65.875-65.875S382.073,191.5,345.75,191.5
								S279.875,221.051,279.875,257.375z M345.75,206.5c28.053,0,50.875,22.822,50.875,50.875s-22.822,50.875-50.875,50.875
								s-50.875-22.822-50.875-50.875S317.697,206.5,345.75,206.5z"/>
							<path d="M345.75,293.117c11.963,0,23.118-5.935,29.84-15.875c2.32-3.432,1.42-8.094-2.012-10.414
								c-3.432-2.321-8.094-1.419-10.414,2.012c-3.928,5.81-10.438,9.278-17.414,9.278s-13.485-3.468-17.414-9.278
								c-2.319-3.431-6.981-4.332-10.414-2.012c-3.432,2.32-4.332,6.982-2.012,10.414C322.632,287.182,333.787,293.117,345.75,293.117z"/>
							<path d="M124.25,323.25c36.323,0,65.875-29.551,65.875-65.875S160.573,191.5,124.25,191.5s-65.875,29.551-65.875,65.875
								S87.927,323.25,124.25,323.25z M124.25,206.5c28.053,0,50.875,22.822,50.875,50.875s-22.822,50.875-50.875,50.875
								s-50.875-22.822-50.875-50.875S96.197,206.5,124.25,206.5z"/>
							<path d="M124.25,293.117c11.963,0,23.118-5.935,29.84-15.875c2.32-3.432,1.42-8.094-2.012-10.414
								c-3.432-2.321-8.094-1.419-10.414,2.012c-3.928,5.81-10.438,9.278-17.414,9.278s-13.485-3.468-17.414-9.278
								c-2.319-3.431-6.981-4.332-10.414-2.012c-3.432,2.32-4.332,6.982-2.012,10.414C101.132,287.182,112.287,293.117,124.25,293.117z"/>
							<path d="M124.25,338.25C55.738,338.25,0,393.988,0,462.5c0,4.142,3.357,7.5,7.5,7.5s7.5-3.358,7.5-7.5
								c0-60.241,49.01-109.25,109.25-109.25S233.5,402.259,233.5,462.5c0,4.142,3.357,7.5,7.5,7.5s7.5-3.358,7.5-7.5
								C248.5,393.988,192.762,338.25,124.25,338.25z"/>
							<path d="M345.75,338.25c-39.118,0-75.165,17.869-98.898,49.025c-2.511,3.295-1.874,8.001,1.421,10.511
								c3.297,2.51,8,1.873,10.511-1.421c20.872-27.4,52.57-43.115,86.967-43.115c60.24,0,109.25,49.009,109.25,109.25
								c0,4.142,3.357,7.5,7.5,7.5s7.5-3.358,7.5-7.5C470,393.988,414.262,338.25,345.75,338.25z"/>
						</g>
					</svg>
					</h1>
				</div>
				<div class="w-100">
					<h6 class="font-monospace text-muted">Release - Jan 30 2023</h6>
					<h5>UK Bank Rate Forecasts Now Available</h5>
					{# <p class="text-slate-800 mt-2">Our high-frequency market sentiment indices based off social media data.</p> #}
					<p class="cmefi-light mt-2">A market consensus forecast of UK bank rates based off futures markets.</p>
					<a href="/forecast-ukbankrate" class="text-black">See more</a>
				</div>
			</div>
			
			<div class="col-xl-4 col-md-6 mt-4 px-4">
				<div class="w-100 rounded-3 text-center" style="background:linear-gradient(to right, rgb(240, 253, 250), rgb(255, 255, 255)); box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset">
					<h1 class="p-5">
						<svg style="width:5rem" fill="var(--bs-cmefi-blue)" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path d="M12 4v-2l-4-2-4 2v1l-4 2v5l12 6 4-2v-8zM4 10.88l-3-1.5v-3.3l3 1.53v3.27zM4 6.49l-2.34-1.2 2.34-1.17v2.37zM8 12.88l-3-1.5v-8.31l3 1.54v8.27zM5.66 2.29l2.34-1.17 2.34 1.17-2.34 1.2zM12 14.88l-3-1.5v-6.31l3 1.54v6.27zM12 7.49l-2.34-1.2 2.34-1.17 2.34 1.17z"></path>
						</svg>
					</h1>
				</div>
				<div class="w-100">
					<h6 class="font-monospace text-muted">Release - Aug 22 2022</h6>
					<h5>SONIA Forecasts Added</h5>
					<p class="cmefi-light mt-2">A market consensus forecast of SONIA rates based off futures markets.</p>
					<a href="/forecast-sonia" class="text-black">See more</a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="row my-5"></div>


{% endblock %}