<!-- <div class="container-fluid" style="height:.2rem;background-color:rgb(37, 48, 10);"></div> -->

<nav class="navbar navbar-expand-md py-1 shadow-sm">
	<a class="navbar-brand py-0 ps-3 me-0 my-1 pb-1" href="/">
		<!--<img src="/static/cmefi-full-white.svg" alt="CMEFI Logo" class="pb-2 pt-1" height="40">-->
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="30" height="30" viewBox="0 0 200 200" preserveAspectRatio="none">
				<style class="base-styles">
					 .path-1, .path-4 {
						stroke-width: 8px;
						stroke: rgba(200, 200, 200, 1); 
					 }
					 .path-2, .path-3 {
						stroke-width: 12px;
						stroke: rgba(255, 255, 255, 1); 
					 }
				</style>
				<g id="icon-group">
				<line x1="30" y1="60" x2="30" y2="135" class="path path-1" stroke="black"></line>
				<line x1="30" y1="135" x2="90" y2="105" class="path path-1" stroke="black"></line>
				<line x1="90" y1="105" x2="90" y2="30" class="path path-1" stroke="black"></line>
				<line x1="90" y1="30" x2="30" y2="60" class="path path-1" stroke="black"></line>
				
				<line x1="60" y1="75" x2="60" y2="150" class="path path-2" stroke="black"></line>
				<line x1="60" y1="150" x2="120" y2="120" class="path path-2" stroke="black"></line>
				<line x1="120" y1="120" x2="120" y2="45" class="path path-2" stroke="black"></line>
				<line x1="120" y1="45" x2="60" y2="75" class="path path-2" stroke="black"></line>
				
				<line x1="90" y1="105" x2="90" y2="180" class="path path-3" stroke="black"></line>
				<line x1="90" y1="180" x2="150" y2="150" class="path path-3" stroke="black"></line>
				<line x1="150" y1="150" x2="150" y2="75" class="path path-3" stroke="black"></line>
				<line x1="150" y1="75" x2="90" y2="105" class="path path-3" stroke="black"></line>
				
				<line x1="120" y1="120" x2="120" y2="195" class="path path-4" stroke="black"></line>
				<line x1="120" y1="195" x2="180" y2="165" class="path path-4" stroke="black"></line>
				<line x1="180" y1="165" x2="180" y2="90" class="path path-4" stroke="black"></line>
				<line x1="180" y1="90" x2="120" y2="120" class="path path-4" stroke="black"></line>			
				</g>
				<!--<path d="M 30 115 C 60 75, 85 35, 115 115 S 170 185, 180 145" stroke-width="10px" stroke="rgba(45,140,38, 1.0)" fill="transparent" class="wave"></path>-->
			</svg>
					 
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 500 100" width="150" height="30">
				 </style>
					<text text-anchor="left" class="logo-text" x="0" font-size="52" y="0" font-family="Quicksand" fill="white"><tspan x="0" dy="75">EconForecasting</tspan></text>
			</svg>				 

				 
	 </a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbarLg"><span class="navbar-toggler-icon"></span></button>

	<div class="navbar-collapse collapse justify-content-center pe-xxl-5 me-xxl-5 me-xl-3 ml-lg-0 me-0" id="collapsingNavbarLg">
		<ul class="navbar-nav">						
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Interest Rate Forecasts</a>
				<div class="dropdown-menu">
					<div class="d-md-flex align-items-start justify-content-start">
						<div>   
							<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">U.S. TREASURY YIELDS</div>
							<a class="dropdown-item" href="/forecast-treasury-curve">Yield Curve Forecast</a>
							<a class="dropdown-item" href="/forecast-t03m">3 Month T-Bill</a>
							<a class="dropdown-item" href="/forecast-t01y">1 Year T-Note</a>
							<a class="dropdown-item" href="/forecast-t05y">5 Year T-Note</a>
							<a class="dropdown-item" href="/forecast-t10y">10 Year T-Note</a>
							<a class="dropdown-item" href="/forecast-t20y">20 Year T-Bond</a>
							<a class="dropdown-item" href="/forecast-t30y">30 Year T-Bond</a>
						</div>
						<div>
							<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">BENCHMARK RATES</div>
							<a class="dropdown-item" href="/forecast-ffr">Federal Funds Rate</a>
							<a class="dropdown-item" href="/forecast-sofr">SOFR</a>
							<a class="dropdown-item" href="/forecast-ameribor">AMERIBOR</a>
							<a class="dropdown-item" href="/forecast-bsby">BSBY</a>
							<a class="dropdown-item" href="/forecast-sonia">SONIA Rate</a>
							<a class="dropdown-item" href="/forecast-estr">Euro Short-Term Rate</a>
							<a class="dropdown-item" href="/forecast-ukbankrate">BoE Bank Rate</a>
						</div>
						<div>
							<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">MORTGAGE RATES</div>
							<a class="dropdown-item" href="/forecast-mort15y">U.S. 15-Year Mortgage</a>
							<a class="dropdown-item" href="/forecast-mort30y">U.S. 30-Year Mortgage</a>
						</div>

					</div>
					 <div class="dropdown-divider"></div>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Macroeconomic Forecasts</a>
				<div class="dropdown-menu">
					<div class="d-md-flex align-items-start justify-content-start">
						<div>   
							<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">U.S. MACROECONOMY</div>
							<a class="dropdown-item" href="/forecast-gdp">GDP Growth Forecast</a>
							<a class="dropdown-item" href="/forecast-pce">Consumption Forecast</a>
							<a class="dropdown-item" href="/forecast-cpi">Inflation Forecast</a>
							<a class="dropdown-item" href="/nowcast-gdp">Short-term GDP Nowcast</a>
						</div>
					</div>
					 <div class="dropdown-divider"></div>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Indicators & Indices</a>
				<div class="dropdown-menu">
					<div class="d-md-flex align-items-start justify-content-start">
						<div>   
							<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">MARKET INDICATORS</div>
							<a class="dropdown-item" href="/sentiment">Social Media Sentiment Index</a>
						</div>
					</div>
					 <div class="dropdown-divider"></div>
				</div>
			</li>
		</ul>
	</div>
</nav>