{% extends "base.html" %}

{% block staticlinks %}
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
{% endblock %}

{% block content %}
    
{% include 'ac-sidebar.html' %}
<main class="col-md-9 col-lg-10 ml-sm-auto pt-4 px-2" id="main">

	<div class="row" style ="max-width:1200px">
		<div class="col-lg-12">
			<div id="heatmap-container"></div>
		</div>
	</div>

	<div class="row justify-content-end" style ="max-width:1200px">
		<div class="col-lg-3">
			<form class="form-row justify-content-center" method="post" action="" id="corrselector">
			  <div class="input-group input-group-sm">
				<div class="input-group-prepend">
				  <div class="input-group-text">Change Roll Window:</div>
				</div>
				<select class="form-control form-control-sm" id="roll">
					<option value="30">30</option>
					<option value="90">90</option>
					<option value="180">180</option>
				</select>
			</div>
			</form>
		</div>
	</div>
    
</main>

    
{% endblock %}