{% extends "base.html" %}

{% block staticlinks %}
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
{% endblock %}

{% block content %}
<div class="row">
	{% include 'ac-sidebar.html' %}
	<div class="col-md-9 col-xl-10 ms-auto pt-4 px-2">
	
		<div class="row justify-content-center py-2">
			<div class="card px-0" style="max-width: 1200px">
				<h5 class="card-header">Model Overview</h5>
				<div class="card-body">
					<h5 class="card-title">Cross-Region Correlation Index</h5>
					<p class="card-text">
					<strong>What does this index measure?</strong><br>
					This index tracks the level of correlation between stock prices in different international economies; e.g. the correlation between the U.S. stock market and the Chinese stck market, and so on. The full list of tracked regions is available <a href='ac-regions-hm'>here</a>. When the index level is high, it means that different regional financial markets are moving closely with one another.
					</p>
					<p class="card-text">
					<strong>Why is this useful?</strong><br>
					In economic downturns, a sell-off in one country's stock market can trigger broader sell-offs in other countries, causing a contagion effect triggering a larger financial crisis. For example, during the global financial crisis, the crash in the U.S. stock market spread to infect countries globally. This index measures the degree of "danger" that a crisis in one country may infect the broader international financial market.
					</p>
					<p class="card-text">
					<strong>How do I interpret this index?</strong><br>
					This index tracks the strength of cross-regional stock market correlations between the world's major economies. The index is normalized to a level between zero and one hundred. High index values indicate that cross-regional return correlations are unusually high and the risk of a global financial crash is elevated.
					</p>
					<a href="#chart-container" class="btn btn-primary">Historical index data</a>
					<a href="ac-regions-hm" class="btn btn-danger">Component heatmap</a>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center bg-light">
			<div class="container" style="max-width:1200px">
				<div id="chart-container"></div>
			</div>
		</div>
		<div class="row justify-content-center pt-2">
			<div class="col-auto" style="max-width:1200px">
				<h2 class="display-8">Historical Data</h2>
				<table id="table-container" class="display" width="500px"></table>
			</div>
		</div>

		
	</div>
</div>
{% endblock %}