{% extends "base.html" %}

{% block meta %}
<meta name="description" content="The region cross-correlation index measures the degree to which different asset prices in one country affect asset prices in other countries. In general, it is a measure of the level of systemic risk in the global economy."/>
<link rel="canonical" href="https://econforecasting.com/ac-regions-hm">
{% endblock %}

{% block staticlinks %}
<script src="https://code.highcharts.com/8.2/modules/heatmap.js"></script>
{% endblock %}

{% block content %}
<div class="row">
	{% include 'ac-sidebar.html' %}
	<div class="col-md-9 col-xl-10 ms-auto pt-4 px-2">
		<div class="row justify-content-center py-2">
			<div class="card px-0" style="max-width: 1200px">
				<div class="card-body">
					<h5 class="card-title">Cross Regional Correlation Heatmap</h5>
					<p class="card-text">
					This heatmap measures the correlation between stock market returns of the world's largest economies. Exchange traded funds (ETFs) are used as a proxy for our data source. Click the arrow buttons to see how cross-regional correlation has changed over time.
					</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="container" style="max-width:1200px">
				<div id="heatmap-container"></div>
			</div>
		</div>

		
	</div>
</div>
{% endblock %}