{% extends "base.html" %}

{% block staticlinks %}
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<!--
<script src="//code.highcharts.com/stock/indicators/indicators.js"></script>
<script src="//code.highcharts.com/stock/indicators/ema.js"></script>
<script src="//code.highcharts.com/stock/indicators/bollinger-bands.js"></script>
-->
{% endblock %}

{% block content %}
    
    
<div class="row justify-content-center" style ="max-width:1200px">
	<div class="col-lg-12">
		<form class="form-inline justify-content-center" method="post" action="" id="corrselector">
			<div class = "form-group">
				<label for="freqtrail" style="font-weight:600" >Data frequency</label>
				<select class="form-control form-control-sm" id="freqtrail"></select>
				<input type="hidden" id="freq" name="freq">
				<input type="hidden" id="trail" name="trail">
			</div>
			<div class = "form-group" style="margin-left:10px">
				<label for="corr_type" style="font-weight:600" >Correlation Type</label>
				<select class="form-control form-control-sm" name="corr_type" id="corr_type"></select>
				<button class="btn btn-primary btn-sm" type="submit" id="submitcorrselector" >Change</button>
			</div>
		</form>
	</div>
</div>

<div class="row" style ="max-width:1200px">
	<div class="col-lg-12">
		<div id="heatmap-container"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div id="heatmap-dates"></div>
	</div>
</div>
    
    

    
{% endblock %}