<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{description|e}}">
    {% block meta %}{% endblock %}
	{{ canonical | raw}}

    <title>{{title|e}}</title>
    <link rel="icon" type=image/ico href="/static/cmefi-short.png"/>
	
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style-bs.css">
	
	<link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins" as="style">
	<link rel="preload" href="https://fonts.googleapis.com/css?family=Merriweather" as="style">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap5.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css"/>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
	
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script> <!-- HTML export buttons -->
	
	<!-- Version 9.0+ requires AST filtration bypass -->
	<script src="https://code.highcharts.com/stock/10.1/highstock.js"></script>
	<script src="https://code.highcharts.com/10.1/modules/boost.js"></script>
    {{ pageJS | raw }}
	
	<!-- Static Links -->
    {% block staticlinks %}{% endblock %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-5JBMJCQQD7"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-5JBMJCQQD7');
	</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9558447444041339"></script>
</head>

<body>
	<header>
		<div class="container-fluid" style="height:.2rem;background-color:rgb(37, 48, 10);"></div>

		<nav class="navbar navbar-expand-md navbar-dark py-1 shadow-sm">
			<a class="navbar-brand py-0 ps-3 me-0" href="/">
				<img src="/static/cmefi-full-white.svg" alt="CMEFI Logo" class="py-0" height="45">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbarLg"><span class="navbar-toggler-icon"></span></button>

			<div class="navbar-collapse collapse justify-content-center pe-xxl-5 me-xxl-5 me-xl-3 ml-lg-0 me-0" id="collapsingNavbarLg">
				<ul class="navbar-nav">						
					<!--<li class="nav-item">
						<a class="nav-link" href="/about"><i class="bi bi-bar-chart me-1"></i>GDP Forecasts</a>
					</li>
					-->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
							<i class="bi bi-bar-chart-steps me-1"></i>Interest Rate Forecasts
						</a>
						<div class="dropdown-menu">
							<div class="d-md-flex align-items-start justify-content-start">
								<div>   
									<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">U.S. TREASURY YIELDS</div>
									<a class="dropdown-item" href="/forecast-treasury-curve">Yield Curve Forecast</a>
									<a class="dropdown-item" href="/forecast-t03m">3 Month T-Bill</a>
									<a class="dropdown-item" href="/forecast-t01y">1 Year T-Note</a>
									<a class="dropdown-item" href="/forecast-t05y">5 Year T-Note</a>
									<a class="dropdown-item" href="/forecast-t10y">10 Year T-Note</a>
									<a class="dropdown-item" href="/forecast-t20y">20 Year T-Bond</a>
									<a class="dropdown-item" href="/forecast-t30y">30 Year T-Bond</a>
								</div>
								<div>
									<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">BENCHMARK RATES</div>
									<a class="dropdown-item" href="/forecast-ffr">Federal Funds Rate</a>
									<a class="dropdown-item" href="/forecast-sofr">SOFR</a>
									<a class="dropdown-item" href="/forecast-ameribor">AMERIBOR</a>
									<a class="dropdown-item" href="/forecast-bsby">BSBY</a>
									<a class="dropdown-item" href="/forecast-sonia">SONIA Rate</a>
									<a class="dropdown-item" href="/forecast-estr">Euro Short-Term Rate</a>

									<!--
									<div class="dropdown-header py-0 mx-3 mt-4 mb-1 border-bottom border-black" style="font-size:1.0rem">MORTGAGE RATES</div>
									<a class="dropdown-item" href="/forecast-mort15y">15-Year Mortgage Rate</a>
									<a class="dropdown-item" href="/forecast-mort30y">30-Year Mortgage Rate</a>
									-->
								</div>
								<div>
									<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">MORTGAGE RATES</div>
									<a class="dropdown-item" href="/forecast-mort15y">U.S. 15-Year Mortgage</a>
									<a class="dropdown-item" href="/forecast-mort30y">U.S. 30-Year Mortgage</a>
								</div>

							</div>
							 <div class="dropdown-divider"></div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
							<i class="bi bi-pie-chart-fill me-1"></i>Macroeconomic Forecasts
						</a>
						<div class="dropdown-menu">
							<div class="d-md-flex align-items-start justify-content-start">
								<div>   
									<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">U.S. MACROECONOMY</div>
									<a class="dropdown-item" href="/forecast-gdp">GDP Growth Forecast</a>
									<a class="dropdown-item" href="/forecast-pce">Consumption Forecast</a>
									<a class="dropdown-item" href="/forecast-cpi">Inflation Forecast</a>
									<a class="dropdown-item" href="/nowcast-gdp">Short-term GDP Nowcast</a>
								</div>
							</div>
							 <div class="dropdown-divider"></div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
							<i class="bi bi bi-broadcast me-1"></i>Indicators & Indices
						</a>
						<div class="dropdown-menu">
							<div class="d-md-flex align-items-start justify-content-start">
								<div>   
									<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">MARKET INDICATORS</div>
									<a class="dropdown-item" href="/sentiment">Social Media Sentiment Index</a>
								</div>
							</div>
							 <div class="dropdown-divider"></div>
						</div>
					</li>

					<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
							<i class="bi bi-pie-chart-fill me-1"></i>Macroeconomic Forecasts
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/nc-gdp"><span style="margin-left: 1rem">GDP Nowcasts</span></a></li>
							<li><a class="dropdown-item" href="/nc-gdp"><span style="margin-left: 1rem">GDP, Consumption, and Subcomponents</span></a></li>
						</ul>
					</li>
					-->
					<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
							<i class="bi bi-gear-wide-connected me-1"></i>Indicators and Indices
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/ac-assets"><span style="margin-left: 1rem">Asset Correlation Index</span></a></li>
							<li><a class="dropdown-item" href="/ac-regions"><span style="margin-left: 1rem">Regional Correlation Index</span></a></li>
						</ul>
					</li>
					-->
				</ul>
			</div>
		</nav>
	</header>
	
	<main class="">
		{% block content %}
		{% endblock %}
	</main>

	<footer class="container-fluid text-white px-0 pt-4 bg-dark">
		<div class="container py-3">
			<div class="row">
				<div class="col-6 mb-2 mb-md-0">
					<h5 class="text-uppercase">Links</h5>
					<ul class="list-unstyled mb-0">
						<li><a href="https://cmefi.com" class="text-white">Center for Macroeconomic Forecasting and Insights</a></li>
					</ul>
				</div>
				<div class="col-6 mb-2 mb-md-0 text-end">
					<h5 class="text-uppercase mb-0">CONTACT</h5>
					<ul class="list-unstyled">
					  <li><a href="mailto:charles@cmefi.com" class="text-white">Email: charles (at) cmefi (dotcom)</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.2)">
			<div class="container text-end p-2">
				<span>© 2022 <img class="mx-1" width="16" height="16" src="/static/cmefi-short.svg"> The Center for Macroeconomic Forecasts &amp; Insights</span>
			</div>
		</div>
	</footer>

        
	<div class="overlay h-100" id="overlay" style="display:none;color:var(--bs-cmefi-green)">
		<div class="row h-25">
			<div class=""></div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto"><h4>Loading</h4></div>
		</div>		
		<div class="row justify-content-center">
			<div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
			  <span class="visually-hidden">Loading</span>
			</div>
		</div>
	</div>


	<script>
	  {{ bodyScript |raw }}
	</script>

</body>
</html>