<nav class="sidebar col-lg-auto d-none d-lg-block px-0 py-2 bg-light" id="sidebar"> <!-- Hide Sidebar for XS to M Devices -->
	<div class="nav flex-column">
		
		<a href="#inflation" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span>Inflation Forecast</span>
				<span class="fas fa-caret-down ms-1"></span>
			</div>
		</a>
		<div id='inflation' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/fc-macro-inf">
				<span class="fas fa-chart-line"></span><span class="ps-2">CPI Inflation Forecast</span>
			</a>
		</div>


	</div>
</nav>
