<nav class="sidebar col-md-3 col-xl-2 d-none d-md-block px-0 py-2" id="sidebar"> <!-- Hide Sidebar for XS and S Devices -->
	<div class="nav flex-column">
		<a href="#t" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span class="fa fa-list-ol fa-fw mx-1"></span> 
				<span>Treasury Yield Forecast</span>
				<span class="fas fa-caret-down ms-auto"></span>
			</div>
		</a>
		<div id='t' class="collapse show sidebar-submenu">
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-info">
				<span class="fas fa-info-circle"></span><span class="ps-2">Overview and Methodology</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-tcurve">
				<span class="fas fa-chart-area"></span><span class="ps-2">Full Yield Curve</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-3m">
				<span class="fas fa-chart-line"></span><span class="ps-2">3-Month T-Bill</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-6m">
				<span class="fas fa-chart-line"></span><span class="ps-2">6-Month T-Bill</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-1y">
				<span class="fas fa-chart-line"></span><span class="ps-2">1-Year T-Note</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-2y">
				<span class="fas fa-chart-line"></span><span class="ps-2">2-Year T-Note</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-5y">
				<span class="fas fa-chart-line"></span><span class="ps-2">5-Year T-Note</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-10y">
				<span class="fas fa-chart-line"></span><span class="ps-2">10-Year T-Note</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-20y">
				<span class="fas fa-chart-line"></span><span class="ps-2">20-Year T-Bond</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/fc-rates-t-30y">
				<span class="fas fa-chart-line"></span><span class="ps-2">30-Year T-Bond</span>
			</a>

		</div>				
		
		<a href="#ffr" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span class="fas fa-university fas-fw mx-1"></span> 
				<span>Federal Funds Forecast</span>
				<span class="fas fa-caret-down ml-auto"></span>
			</div>
		</a>
		<div id='ffr' class="collapse show sidebar-submenu">
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/error">
				<span class="fas fa-info-circle"></span><span class="ps-2">Model Information</span>
			</a>
			<a class="list-group-item list-group-item-action py-1 text-truncate" href="/error">
				<span class="fas fa-chart-line"></span><span class="ps-2">Fed Funds Rate Forecast</span>
			</a>
		</div>
		
	</div>
</nav>
