{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Monthly 3-month, 6-month, 1-year, 5-year, 10-year, 20-year, and 30-year Treasury yield forecasts and historical data."/>
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block content %}
<div class="row">
	{% include 'fc-rates-sidebar.html' %}
	<div class="col-md-9 col-xl-10 ms-auto pt-0 px-3">
		<div class="row justify-content-center">
			<div class="col-md-10 col-xl-9 py-2">
				<div class="card mt-2">
					<h5 class="card-header text-white" style="background-color:var(--econlightgreen)"><span class="t-varname"></span> Forecast - 10 Years</h5>
					<div class="card-body">
						<p class="card-text">
						This forecast predicts the monthly average values of the <span class="t-varname"></span> for the next 10 years.
						</p>
						<p class="card-text">
						These values can be interpreted as a 'market consensus' forecast - the forecasts are derived from a model which uses spot and futures market prices to directly estimate market-implied Treasury prices, using minimal extraneous assumptions during the modeling process. For technical details, see <a href="/fc-rates-t-info">the documentation</a>. For forecasts for other Treasury maturities, click <a href="/fc-rates-tcurve">here</a>.
						</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row justify-content-center bg-light">
			<div id="chart-container" class="col-xl-8 col-lg-9 col-12-md">
			</div>
		</div>
		<div class="row justify-content-center pt-3">
		<!--
			<div class="col-auto bd-callout bd-callout-info" style="">
				<h2 class="display-8">Historical Data</h2>
				<table id="table-container" class="display" style="min-width:25rem"></table>
			</div>
		-->
			<div class="card border-secondary border-2 m-2 col-xl-4 col-md-6 col-sm-8">
				<div class="card-body">
				<h5 class="card-title">Historical Data</h5>
				<h6 class="card-subtitle mb-2 text-muted">Daily Frequency</h6>
				<table id="table-container" class="table data-table w-100"></table>
				</div>
			</div>
			<div class="card border-secondary border-2 m-2 col-xl-4 col-md-6 col-sm-8">
				<div class="card-body">
				<h5 class="card-title text-danger">Forecast Data</h5>
				<h6 class="card-subtitle mb-2 text-muted">Monthly Frequency</h6>
				<table id="table-container-2" class="table data-table w-100"></table>
				</div>
			</div>

		</div>
		

		
	</div>
</div>
{% endblock %}