{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Monthly 3-month, 6-month, 1-year, 5-year, 10-year, 20-year, and 30-year Treasury yield forecasts and historical data are provided using our model."/>
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block content %}
<div class="row">
	{% include 'fc-rates-sidebar.html' %}
	<div class="col-12 col-lg-8 col-xl-9 col-xxl-9 m-auto pt-0 px-2 pb-5">
	
		<div class="row justify-content-center" style="background-color:rgba(25, 50, 20, 0.1)">
			<div id="chart-container" class="col-xl-9 col-lg-10 col-12-md">
			</div>
		</div>

		
	</div>
</div>
{% endblock %}