{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Monthly 3-month, 6-month, 1-year, 5-year, 10-year, 20-year, and 30-year Treasury yield forecasts and historical data are provided using our model."/>
{% endblock %}

{% block staticlinks %}
<script src="https://code.highcharts.com/8.2/highcharts-more.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
{% endblock %}

{% block content %}
<div class="row gx-0">
	{% include 'fc-rates-sidebar.html' %}
	<div class="col-12 col-lg-8 col-xl-9 col-xxl-9 m-auto pt-0 px-2 pb-5">
	
		<div class="row justify-content-center" style="background-color:rgba(25, 50, 20, 0.1)">
			<div id="chart-container" class="col-xl-9 col-lg-10 col-12-md">
			</div>
			<div id="chart-container-2" class="col-xl-9 col-lg-10 col-12-md">
			</div>
		</div>
		<div class="row justify-content-center pt-3">

			<div class="card border-secondary border-2 m-2 col-xl-8 col-md-10 col-sm-12">
				<div class="card-body">
				<h5 class="card-title" style="color:rgb(33, 177, 151)">Treasury Curve Forecast Data</h5>
				<h6 class="card-subtitle mb-2 text-muted fst-italic">monthly frequency represents average of daily values</h6>
				<table id="table-container-2" class="table data-table w-100"></table>
				</div>
			</div>

		
			<div class="card border-secondary border-2 m-2 col-xl-8 col-md-10 col-sm-12">
				<div class="card-body">
				<h5 class="card-title" style="color: darkblue">Treasury Curve Historical Data</h5>
				<h6 class="card-subtitle mb-2 text-muted fst-italic">monthly frequency represents average of daily values</h6>
				<table id="table-container" class="table data-table w-100"></table>
				</div>
			</div>

		</div>
		

		
	</div>
</div>
{% endblock %}