<nav class="sidebar col-lg-auto d-none d-lg-block px-0 py-2 bg-light" id="sidebar"> <!-- Hide Sidebar for XS to M Devices -->
	<div class="nav flex-column">
		<span class="navbar-header">Macroeconomic Forecasts</span>
		<hr class="mb-0 mx-2">
		<a href="#us" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span>U.S. Economy</span>
				<span class="fas fa-caret-down ms-1"></span>
			</div>
		</a>
		<div id='us' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/forecast-gdp">
				<span class="fas fa-chart-line"></span><span class="ps-2">GDP</span>
			</a>
			<a class="text-truncate" href="/forecast-pce">
				<span class="fas fa-chart-line"></span><span class="ps-2">Consumption</span>
			</a>
			<a class="text-truncate" href="/forecast-cpi">
				<span class="fas fa-chart-line"></span><span class="ps-2">Inflation</span>
			</a>
			<a class="text-truncate" href="/nowcast-gdp">
				<span class="fas fa-chart-bar"></span><span class="ps-2">Nowcast</span>
			</a>
		</div>				
		
	</div>
</nav>
