{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Forecasts page."/>
{% endblock %}

{% block staticlinks %}
<script src="https://code.highcharts.com/9.1/highcharts-more.js"></script>
<!--<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>-->
{% endblock %}

{% block content %}
<div class="row gx-0" style="background-color: var(--bs-efpaleblue)">
	{% include 'csm-sidebar.html' %}
	<div class="col-12 col-lg-8 col-xl-9 col-xxl-10 m-auto pt-2 px-2 pb-5">
	
		<div class="row justify-content-center px-3" style="background-color:rgba(25, 50, 20, 0.1)">
			<div id="chart-container" class="col-auto">
			</div>
		</div>
		
		<div class="row g-3 mb-3">
			<div class="col-xxl-6 col-xl-12">
				<div class="row g-3">
					<!-- GDP Card -->
					<div class="col-12 border-0 p-0 pe-lg-4">
						<div class="card shadow" data-ref-dispgroup="GDP">
							<div class="card-header">
								<div class="row flex-between-center">
									<div class="col-auto">
										<span class="mb-0 fw-bolder" style="font-size:.9rem">GDP</span>
									</div>
									<div class="col-auto d-flex">
										<div class="input-group input-group-sm">
										  <label class="input-group-text">Frequency</label>
											<select class="form-select form-select-sm select-month me-2">
												<option value="q" selected>Quarterly</option><option value="m" disabled>Monthly</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body h-100" data-ref-freq="m">
								<div class="chart-container col-xl-9 col-lg-10 col-12-md"></div>
								<div class="table-container"></div>
								<div class="card-footer bg-light p-0" style="display:none">
									<a class="btn btn-sm btn-link d-block w-100 py-2" href="#!" style="font-family: 'Assistant'; font-size: 1.0rem;text-decoration: none;">
										<span class="align-middle pe-2">Show Additional Variables</span><i class="bi bi-chevron-down"></i>
									</a>
								</div>
							</div>
							<div class="card-body h-100" data-ref-freq="q">
								<div class="chart-container col-xl-9 col-lg-10 col-12-md"></div>
								<div class="table-container"></div>
								<div class="card-footer bg-light p-0" style="display:none">
									<a class="btn btn-sm btn-link d-block w-100 py-2" href="#!" style="font-family: 'Assistant'; font-size: 1.0rem;text-decoration: none;">
										<span class="align-middle pe-2">Show Additional Variables</span><i class="bi bi-chevron-down"></i>
									</a>
								</div>
							</div>
							<div class="card-footer border-top py-1">
								<div class="row align-items-center gx-0">
									<div class="col text-end"><span class="fst-italic" style="font-size:.8rem"><span class="badge bg-light text-dark">SAAR%</span>: seasonally adjusted annualized growth rate</span></div>
								</div>
							</div>
						</div>
					</div>
					<!-- End GDP -->
					
					<!-- Housing Card -->
					<div class="col-12 border-0 p-0 pe-lg-4">
						<div class="card shadow" data-ref-dispgroup="Housing">
							<div class="card-header">
								<div class="row flex-between-center">
									<div class="col-auto">
										<span class="mb-0 fw-bolder" style="font-size:.9rem">Housing</span>
									</div>
									<div class="col-auto d-flex">
										<div class="input-group input-group-sm">
										  <label class="input-group-text">Frequency</label>
											<select class="form-select form-select-sm select-month me-2">
												<option value="q" selected>Quarterly</option><option value="m" >Monthly</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body h-100" data-ref-freq="m" style="">
								<div class="chart-container col-xl-9 col-lg-10 col-12-md"></div>
								<div class="table-container"></div>
								<div class="card-footer bg-light p-0" style="display:none">
									<a class="btn btn-sm btn-link d-block w-100 py-2" href="#!" style="font-family: 'Assistant'; font-size: 1.0rem;text-decoration: none;">
										<span class="align-middle pe-2">Show Additional Variables</span><i class="bi bi-chevron-down"></i>
									</a>
								</div>
							</div>
							<div class="card-body h-100" data-ref-freq="q" style="">
								<div class="chart-container col-xl-9 col-lg-10 col-12-md"></div>
								<div class="table-container"></div>
								<div class="card-footer bg-light p-0" style="display:none">
									<a class="btn btn-sm btn-link d-block w-100 py-2" href="#!" style="font-family: 'Assistant'; font-size: 1.0rem;text-decoration: none;">
										<span class="align-middle pe-2">Show Additional Variables</span><i class="bi bi-chevron-down"></i>
									</a>
								</div>
							</div>
							<div class="card-footer border-top py-1">
								<div class="row align-items-center gx-0">
									<div class="col text-end"><span class="fst-italic" style="font-size:.8rem"><span class="badge bg-light text-dark">SAAR%</span>: seasonally adjusted annualized growth rate</span></div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Housing --> 
					
				</div>
			</div>
			<div class="col-xxl-6 col-xl-12">
				<div class="row g-3">
					<!-- Benchmark Rates -->
					<div class="col-12 border-0 p-0 pe-lg-4">
						<div class="card shadow" data-ref-dispgroup="Benchmark Rates">
							<div class="card-header">
								<div class="row flex-between-center">
									<div class="col-auto">
										<span class="mb-0 fw-bolder" style="font-size:.9rem">Benchmark Rates</span>
									</div>
									<div class="col-auto d-flex">
										<div class="input-group input-group-sm">
										  <label class="input-group-text">Frequency</label>
											<select class="form-select form-select-sm select-month me-2">
												<option value="q" selected>Quarterly</option><option value="m" >Monthly</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body h-100" data-ref-freq="m" style="">
								<div class="chart-container col-xl-9 col-lg-10 col-12-md"></div>
								<div class="table-container"></div>
								<div class="card-footer bg-light p-0" style="display:none">
									<a class="btn btn-sm btn-link d-block w-100 py-2" href="#!" style="font-family: 'Assistant'; font-size: 1.0rem;text-decoration: none;">
										<span class="align-middle pe-2">Show Additional Variables</span><i class="bi bi-chevron-down"></i>
									</a>
								</div>
							</div>
							<div class="card-body h-100" data-ref-freq="q" style="">
								<div class="chart-container col-xl-9 col-lg-10 col-12-md"></div>
								<div class="table-container"></div>
								<div class="card-footer bg-light p-0" style="display:none">
									<a class="btn btn-sm btn-link d-block w-100 py-2" href="#!" style="font-family: 'Assistant'; font-size: 1.0rem;text-decoration: none;">
										<span class="align-middle pe-2">Show Additional Variables</span><i class="bi bi-chevron-down"></i>
									</a>
								</div>
							</div>
							<div class="card-footer border-top py-1">
								<div class="row align-items-center gx-0">
									<div class="col text-end"><span class="fst-italic" style="font-size:.8rem"><span class="badge bg-light text-dark">SAAR%</span>: seasonally adjusted annualized growth rate</span></div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Benchmark Rates -->
				</div>
			</div>

		</div>
		
		<div class="row justify-content-center pt-3 px-3">
			


		</div>
			

		
	</div>
</div>
{% endblock %}