{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Forecasts page."/>
{% endblock %}

{% block staticlinks %}
<script src="https://code.highcharts.com/9.2/highcharts-more.js"></script>
<script src="https://code.highcharts.com/9.2/modules/exporting.js"></script>
<!--<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>-->
{% endblock %}

{% block content %}
<div class="row gx-0" style="background-color: var(--bs-efpaleblue)">
	{% include 'csm-sidebar.html' %}
	<div class="col-12 col-lg-8 col-xl-9 col-xxl-10 m-auto pt-2 px-2 pb-5">
	
		<div class="row justify-content-center px-3" style="background-color:rgba(25, 50, 20, 0.1)">
			<div id="chart-container" class="col-auto">
			</div>
		</div>
		
		<div class="row g-3 mb-3">
			<div class="col-xxl-6 col-xl-12" id="card-col-1">
				<div class="row g-3" >					
				</div>
			</div>
			<div class="col-xxl-6 col-xl-12" id="card-col-2">
				<div class="row g-3">
				</div>
			</div>

		</div>
		
		<div class="row justify-content-center pt-3 px-3">
			


		</div>
			

		
	</div>
</div>
{% endblock %}