<nav class="sidebar col-lg-auto d-none d-lg-block px-0 py-2 bg-light" id="sidebar"> <!-- Hide Sidebar for XS to M Devices -->
	<div class="nav flex-column">
		<span class="navbar-header">Interest Rate Forecasts</span>
		<hr class="mb-0 mx-2">
		<a href="#t" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span>Treasury Yield Forecast</span>
				<span class="fas fa-caret-down ms-1"></span>
			</div>
		</a>
		<div id='t' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/forecast-treasury-summary">
				<span class="fas fa-info-circle"></span><span class="ps-2">Overview and Methodology</span>
			</a>
			<a class="text-truncate" href="/forecast-treasury-curve">
				<span class="fas fa-chart-area"></span><span class="ps-2">Full Yield Curve</span>
			</a>
			<a class="text-truncate" href="/forecast-t03m">
				<span class="fas fa-chart-line"></span><span class="ps-2">3-Month T-Bill</span>
			</a>
			<a class="text-truncate" href="/forecast-t06m">
				<span class="fas fa-chart-line"></span><span class="ps-2">6-Month T-Bill</span>
			</a>
			<a class="text-truncate" href="/forecast-t01y">
				<span class="fas fa-chart-line"></span><span class="ps-2">1-Year T-Note</span>
			</a>
			<a class="text-truncate" href="/forecast-t02y">
				<span class="fas fa-chart-line"></span><span class="ps-2">2-Year T-Note</span>
			</a>
			<a class="text-truncate" href="/forecast-t05y">
				<span class="fas fa-chart-line"></span><span class="ps-2">5-Year T-Note</span>
			</a>
			<a class="text-truncate" href="/forecast-t10y">
				<span class="fas fa-chart-line"></span><span class="ps-2">10-Year T-Note</span>
			</a>
			<a class="text-truncate" href="/forecast-t20y">
				<span class="fas fa-chart-line"></span><span class="ps-2">20-Year T-Bond</span>
			</a>
			<a class="text-truncate" href="/forecast-t30y">
				<span class="fas fa-chart-line"></span><span class="ps-2">30-Year T-Bond</span>
			</a>

		</div>				
		
		<a href="#benchmark-rates" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span>Benchmark Rates</span>
				<span class="fas fa-caret-down ms-1"></span>
			</div>
		</a>
		<div id='benchmark-rates' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/forecast-ffr">
				<span class="fas fa-chart-line"></span><span class="ps-2">Fed Funds Rate Forecast</span>
			</a>
			<a class="text-truncate" href="/forecast-sofr">
				<span class="fas fa-chart-line"></span><span class="ps-2">SOFR Forecast</span>
			</a>
			<a class="text-truncate" href="/forecast-ameribor">
				<span class="fas fa-chart-line"></span><span class="ps-2">AMERIBOR Forecast</span>
			</a>
			<a class="text-truncate" href="/forecast-bsby">
				<span class="fas fa-chart-line"></span><span class="ps-2">BSBY Forecast</span>
			</a>
		</div>
		
		<a href="#mor" data-bs-toggle="collapse" class="nav-link">
			<div>
				<span>Mortgage Rates</span>
				<span class="fas fa-caret-down ms-1"></span>
			</div>
		</a>
		<div id='mor' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/forecast-mort15y">
				<span class="fas fa-chart-line"></span><span class="ps-2">15-Year Mortgage Rate</span>
			</a>
			<a class="text-truncate" href="/forecast-mort30y">
				<span class="fas fa-chart-line"></span><span class="ps-2">30-Year Mortgage Rate</span>
			</a>
		</div>
		<!--
		<div id='mrt' class="collapse show sidebar-submenu">
			<a class="text-truncate" href="/fc-rates-mort15y">
				<span class="fas fa-chart-line"></span><span class="ps-2">15-Year Mortgage Forecast</span>
			</a>
			<a class="text-truncate" href="/fc-rates-mort30y">
				<span class="fas fa-chart-line"></span><span class="ps-2">30-Year Mortgage Forecast</span>
			</a>
		</div>
		-->
	</div>
</nav>
