{% extends "base.html" %}

{% block staticlinks %}
<!--<script src="//code.highcharts.com/stock/highstock.js"></script>
<script src="//code.highcharts.com/modules/heatmap.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="//code.highcharts.com/maps/modules/map.js"></script>
<script src="//code.highcharts.com/mapdata/custom/world-robinson.js"></script>
<script src="//code.highcharts.com/mapdata/custom/europe.js"></script>

<script src="//code.highcharts.com/stock/indicators/indicators.js"></script>
<script src="//code.highcharts.com/stock/indicators/ema.js"></script>
<script src="//code.highcharts.com/stock/indicators/bollinger-bands.js"></script>

<script src="static/script-fincontagion.js"></script>
<script src="static/mapGenerator.js"></script>
<script src="static/tsGenerator.js"></script>
-->
{% endblock %}


{% block content %}
    <div class="overlay">
    </div>
    
    <section class="container">
        {% block description %}{% endblock %}
    </section>
    
    
    <section class="container" id="spinnercontainer" style="">
        <div class="row">
            <div class="text-center col-12"><h4 style="text-align:center" id="loadmessage">Loading data and making graphs...</h4></div>
        </div>
        <div class="row">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </section>
    
    <section class="container" style="margin-bottom:20px">
        <form class="form-inline" method="post" action="" id="corrselector">
            <div class = "form-group">
                <label for="freqtrail" style="font-weight:600" >Data frequency</label>
                <select class="form-control form-control-sm" id="freqtrail"></select>
                <input type="hidden" id="freq" name="freq"></input>
                <input type="hidden" id="trail" name="trail"></input>
            </div>
            <div class = "form-group" style="margin-left:10px">
                <label for="corr_type" style="font-weight:600" >Correlation Type</label>
                <select class="form-control form-control-sm" name="corr_type" id="corr_type"></select>
                <button class="btn btn-primary btn-sm" type="submit" id="submitcorrselector" >Change</button>
            </div>
        </form>
    </section>

    <section class="container" id="resultscontainer">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#heatmaptab" role="tab" aria-selected="true">Correlation Matrix</a>
          </li>

            
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#maptab" role="tab">Correlation Map</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tstab" role="tab">Historical Correlation Data</a>
          </li>

        </ul>
        
        
        <div class="tab-content" id="myTabContent">
            
          <div class="tab-pane fade show active" id="heatmaptab" role="tabpanel" >
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">
                        <div id="heatmap"></div>
                    </div>
                </div>
            </div>
          </div>

            
          <div class="tab-pane fade" id="maptab" role="tabpanel" style="background:url('static/bg-parchment.png') no-repeat center center fixed;background-size: cover;">
                <form class="form-inline">
                    <div class = "form-group">
                        <label for="showLines" style="font-weight:600" >Draw connections between closely correlated countries?</label>
                        <input type="checkbox" checked="checked" name="showLines" id="showLines">
                    </div>
                </form>
                <form class="form-inline">
                    <div class = "form-group">
                        <label for="minLines"  style="font-weight:600"  >Minimum correlation (0 to 1):</label>
                        <input type="text" class="form-control form-control-sm" id="minLines" value="0.75" style="max-width:80px">
                        <button class="btn btn-primary btn-sm" type="button" id="submitLines" >Submit</button>
                        <div id="errormessageLines" class="invalid-feedback">Error Message!</div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12" id="highMap"></div>
                </div>
                
                <div class="row">
                    <div></div>
                    <div class="col-lg-12 float-right" id="highMapEurope"></div>
                </div>
          </div>
          
          <div class="tab-pane fade" id="tstab" role="tabpanel" style="">
                <form class="form-inline">
                    <div class = "form-group">
                        <label for="corr_1" style="font-weight:600" >Get historical correlation for: </label>
                        <select class="selectcorr form-control form-control-sm" id="corr_1">
                        </select>
                        <label for="corr_2" style="font-weight:600" > and </label>
                        <select class="selectcorr form-control form-control-sm" id="corr_2">
                        </select>
                        <button class="btn btn-primary btn-sm" type="button" id="submitTS" >Go</button>
                        <div id="errormessageTS" class="invalid-feedback">Error Message!</div>
                    </div>
                </form>
                
                
                <div class="row">
                    <div class="col-lg-12" id="tsChart"></div>
                </div>
          </div>
          

          
        </div>
    </section>
    
    <section class="container">
    </section>
{% endblock %}