{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Get aggregated macroeconomic data, forecasts, models, and insights including GDP forecasts, interest rate forecasts, and Treasury yield forecasts."/>
<link rel="canonical" href="https://econforecasting.com">
{% endblock %}

{% block staticlinks %}
<!--<script src="//code.highcharts.com/stock/highstock.js"></script>
<script src="//code.highcharts.com/modules/heatmap.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="//code.highcharts.com/maps/modules/map.js"></script>
<script src="//code.highcharts.com/mapdata/custom/world-robinson.js"></script>
<script src="//code.highcharts.com/mapdata/custom/europe.js"></script>

<script src="//code.highcharts.com/stock/indicators/indicators.js"></script>
<script src="//code.highcharts.com/stock/indicators/ema.js"></script>
<script src="//code.highcharts.com/stock/indicators/bollinger-bands.js"></script>

<script src="static/script-fincontagion.js"></script>
<script src="static/mapGenerator.js"></script>
<script src="static/tsGenerator.js"></script>
-->
{% endblock %}


{% block content %}

<div class="container" style="max-width:1400px">
	<div class="rounded bg-dark"  style="background:url('static/bank.jpg'); background-position: top; background-size: 100% auto">
		<div class="col-md-6 px-2 p-4 p-md-5 mb-4 text-white">
			<p class="lead my-3">The Center for Macroeconomic Forecasting & Insights is a non-partisan think tank working to democratize macroeconomic knowledge by making the necessary tools, data, and insights more available for all.</p>
			<p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
		</div>
		<div class="col-md-6 p-0 col-sm-0">
		</div>
	</div>


	<hr>
	<h1 style="color:var(--econgreen)">New Releases</h1>
	  <div class="row mb-2">
		<div class="col-md-4 col-sm-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-150 position-relative p-3">
			<div class="row">
				<div class="col-12">
					<strong class="d-inline-block mb-2 text-danger">Indicators & Indices</strong>
					<h3 class="mb-0">Asset Correlation Index</h3>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="mb-1 text-muted">Feb 2021</div>
					<p class="card-text mb-auto">Historical data for the Asset Correlation Index is now available online.</p>
					<a href="ac-assets" class="stretched-link">Click to go</a>
				</div>
				<div class="d-none d-lg-block col-lg-4 border rounded" style="background:url('/static/probabilistic-forecasting-graph.png'); background-position:bottom; background-size:100% auto;   background-repeat: no-repeat;">
				</div>
			</div>
		  </div>
		</div>
		
		
		<div class="col-md-4 col-sm-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-150 position-relative p-3">
			<div class="row">
				<div class="col-12">
					<strong class="d-inline-block mb-2 text-danger">Indicators & Indices</strong>
					<h3 class="mb-0">Regional Correlation Index</h3>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="mb-1 text-muted">Feb 2021</div>
					<p class="card-text mb-auto">Historical data for the Regional Correlation Index is now available online.</p>
					<a href="ac-regions" class="stretched-link">Click to go</a>
				</div>
				<div class="d-none d-lg-block col-lg-4 border rounded" style="background:url('/static/thumb003.png'); background-position:bottom; background-size:100% auto;   background-repeat: no-repeat;">
				</div>
			</div>
		  </div>
		</div>

		
		
	  </div>

  
</div>
{% endblock %}