{% extends "base.html" %}

{% block meta %}
<meta name="description" content="GDP nowcasts - a rolling estimate of current and future GDP growth based on the latest available economic data."/>
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block content %}
<div class="row gx-0">
	<div class="col px-0">
	
		
		<div class="row justify-content-center mx-3" style="background-color:rgba(25, 50, 20, 0.05)">
			<div id="chart-container" class="col-xl-6 col-lg-10 col-12-md px-2">
			</div>
			<div class="col-xl-2 col-lg-2 col-8-md px-2">
				<span style="font-size:1.5rem;font-family:'Assistant', Arial, 'sans-serif';text-align:center; padding-top:50px" class="text-econblue d-block">Data Release Calendar</span>
				<div class="overflow-auto border border-econblue rounded"  style="height:300px;margin-top:20px;position:relative" id="release-container">
				</div>
				<span class="d-block text-end fst-italic text-muted">Major releases highlighted in <span class="text-econlred">red</span></span>
			</div>
		</div>
		
		<div class="container pb-5">
				<div class="row justify-content-center pt-3 px-3 mx-1">
					<div class="col-xl-5 col-lg-10 col-sm-12" id="text-container">
						<div class="d-inline"><span style="vertical-align:middle;font-size:1.4rem; color: var(--bs-econgreen)">OVERVIEW</span></div>
						<hr class="mt-0 mb-3 bg-econgreen">
						<p><span class="fw-bold fst-italic">Nowcasting</span> is the prediction of the present, the near future, and the near past. Nowcasting is important in economics because many important macroeconomic statistics are released with a lengthy delay. For example, the Bureau of Economic Analysis releases quarterly GDP data typically two months after the quarter has already ended - a significant delay for any companies or individuals who need the data for planning and forecast models.</p>
						<p>
						<strong>Nowcasting is about deciphering key information about the state of the economy before official data is released.</strong> Because of the fundamentally urgent nature of nowcasting, it is important that nowcast models exploit any latest, high-frequency data available. This nowcast generates constantly rolling forecasts, updating these numbers in response to any new data releases.
						</p>
						<img class="me-2" src="/static/cmefi_short.png" width="16" height="16"><div class="d-inline"><span style="vertical-align:middle;font-size:1.4rem; color: var(--bs-econgreen)">DETAILED METHODOLOGY</span></div>
						<hr class="mt-0 mb-3 bg-econgreen">
						<iframe src="https://cmefi.github.io/econforecasting-r/documentation-templates/nowcast-documentation.pdf" width="100%" height="500px"></iframe>
						<a href="https://cmefi.github.io/econforecasting-r/documentation-templates/nowcast-documentation.pdf" target="_blank">Download</a>
					</div>
			
					<div class="card border-secondary border-2 m-2 col-xl-6 col-lg-10 col-sm-12 bg-white">
						<div class="card-body" id="tables-container">
							<div class="py-1 px-2 bg-econblue d-inline-block text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
							  <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
							</svg></div>
							<div class="d-inline"><span style="vertical-align:middle;font-size:1.4rem; color: var(--bs-econblue)"><span id="vdate"></span>nowcasts for GDP & components</span></div>
							<hr class="mt-0 mb-3 bg-econblue">
							<p class="fst-italic">All units are reported in terms of annualized % change except for net exports and change in private inventories, which are reported in billions of dollars.</p>
							<table class="table data-table w-100" id="gdp-table"></table>

						</div>
					</div>
				
			</div>
		</div>

	
	</div>
</div>
{% endblock %}