{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Monthly forecasts for the secured overnight financing rate (SOFR)."/>
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block content %}
<div class="row gx-0" style="background-color:rgb(237, 242, 249)">
	{% include 'rates-model-sidebar.html' %}
	<div class="col">
		<div class="container-xxl">

			<div class="row g-0">
				<div class="col-12 px-0">
						<div class="card my-3 mx-0 rounded shadow-sm">
							<div class="card-body py-0">
								<div id="chart-container" ></div>
							</div>
						</div>
				</div>
			</div>
			
			<div class="row g-0">
			
				<div class="col-xxl-4 col-lg-6 pe-lg-2 mb-3 bg-white">
					<div class="card shadow-sm">
						<div class="card-body" id="tables-container">
							<div class="py-1 px-2 bg-econblue d-inline-block text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
							</svg></div>
							<div class="d-inline"><span style="vertical-align:middle;font-size:1.3rem;">DATA</span></div>
							<hr class="mt-0 mb-3 bg-econblue">
							<ul class="list-group list-group-horizontal" id="li-container">
							</ul>
						</div>
					</div>
				</div>

				<div class="col-xxl-8 col-lg-6 ps-lg-2 mb-3" id="text-container">
					<div class="card shadow-sm">
						<div class="card-body">
							Test
						</div>
					</div>
				</div>
				
			</div>
	
		</div>
	</div>
</div>
{% endblock %}