{% extends "base.html" %}

{% block meta %}
<meta name="description" content="GDP nowcasts - a rolling estimate of current and future GDP growth based on the latest available economic data."/>
{% endblock %}

{% block staticlinks %}
{% endblock %}

{% block content %}
<div class="row gx-0" style="background-color:rgb(237, 242, 249)">
	{% include 'forecast-sidebar-macro.html' %}

	<div class="col mx-2 pb-5">
		<div class="container-xxl">
		
			<div class="row g-0">
				<div class="col-12 px-0">
						<div class="card my-3 mx-0 rounded shadow-sm">
							<div class="row justify-content-center">
								<div id="chart-container" class="col-xxl-8 col-md-10 col-sm-12 px-2"></div>
								<div class="col-xxl-3 col-md-8 col-sm-12 px-2">
									<span style="font-size:1.3rem;text-align:center; padding-top:50px" class="d-block">Major Model Input Updates</span>
									<div class="overflow-auto border border-primary rounded" style="height:300px;margin-top:20px;position:relative" id="release-container">
									</div>
									<span class="d-block text-end fst-italic text-muted">Major releases highlighted in <span class="text-econlred">red</span></span>
								</div>
							</div>
						</div>
					</div>
			</div>
			
					<div class="row justify-content-center pt-3 px-3 mx-1">
						<div class="col-xl-5 col-lg-10 col-sm-12" id="text-container">
							<div class="d-inline"><span style="vertical-align:middle;font-size:1.4rem; color: var(--bs-cmefi-green)">OVERVIEW</span></div>
							<hr class="mt-0 mb-3 bg-cmefi-green">
							<p><span class="fw-bold fst-italic">Nowcasting</span> is the prediction of the present, the near future, and the near past. Nowcasting is important in economics because many important macroeconomic statistics are released with a lengthy delay. For example, the Bureau of Economic Analysis releases quarterly GDP data typically two months after the quarter has already ended - a significant delay for any companies or individuals who need the data for planning and forecast models.</p>
							<p>
							Nowcasting is about deciphering key information about the state of the economy before official data is released. Because of the fundamentally urgent nature of nowcasting, it is important that nowcast models exploit any latest, high-frequency data available.</p>
							<p>Our nowcast model generates constantly rolling forecasts, updating these numbers in response to new data releases.</p>
							<p><strong>This model is updated daily between 16:00 and 20:00 ET.</strong></p>
							<img class="me-2" src="/static/cmefi-short.svg" width="20" height="20"><div class="d-inline"><span style="vertical-align:middle;font-size:1.4rem; color: var(--bs-econgreen)">DETAILED METHODOLOGY</span></div>
							<hr class="mt-0 mb-3 bg-cmefi-green">
							<object data="/static/nowcast-model-documentation.pdf" type="application/pdf" width="100%" height="500px">
							    <iframe src="https://docs.google.com/viewer?url=econforecasting.com/static/nowcast-model-documentation.pdf&embedded=true"></iframe>
							</object>
							<a href="/static/nowcast-model-documentation.pdf" target="_blank">Download</a>
						</div>
				
						<div class="card border-secondary border-2 m-2 col-xl-6 col-lg-10 col-sm-12 bg-white">
							<div class="card-body" id="tables-container">
								<div class="py-1 px-2 bg-cmefi-blue d-inline-block text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
								  <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
								</svg></div>
								<div class="d-inline"><span style="vertical-align:middle;font-size:1.4rem; color: var(--bs-cmefi-blue)"><span id="vdate"></span>nowcasts for GDP & components</span></div>
								<hr class="mt-0 mb-3 bg-cmefi-blue">
								<p class="fst-italic">All units are reported in terms of annualized % change except for net exports and change in private inventories, which are reported in billions of dollars.</p>
								<table class="table data-table w-100" id="gdp-table"></table>

							</div>
						</div>
					
				</div>
			
		</div>
	</div>
</div>
{% endblock %}
